<div class="container" style="padding: 80px">
    <div class="card my-5">
        <div class="card-body">
            <div class="media mx-5 d-flex justify-content-center align-items-start">
                <img [src]="insurance.company[0].imgUrl" class="mr-3 insurance-logo" alt="logo">
                <div class="media-body">
                    <h2>คุณเลือกแผน <span class="text-iwow-darkgreen">{{ insurance.insuranceName }}</span> ของ <span class="text-iwow-darkgreen">{{ insurance.company[0].name }}</span>
                        ประเภท <span class="text-iwow-darkgreen">{{ insurance.policyType }}</span></h2>
                    <p class="mb-0">สำหรับรถยนต์: {{ carData.carBrand.longName }} {{ carData.carModel.shortName }} {{ carData.carModel.fuelType == 'hybrid' ? 'hybrid':'' | uppercase }}({{ carData.carModel.engineSize }}) - {{ carData.yearModel }}</p>
                    <p class="mb-0">ทุนประกัน: {{ insurance.ftsi | number: '1.0-0' }} บาท</p>
                    <p class="mb-0">ซื้อพร้อม พ.ร.บ.: {{ insurance.isCombineWithCompulsory ? 'ใช่':'ไม่ใช่' }}</p>
                    <p class="mb-0">เบี้ยประกันรวมทั้งหมด: <span class="text-danger h4">{{ orderData.netPrice | number: '1.0-0' }} บาท </span></p>
                    <p class="mb-0">(รวมภาษีและอากรแสตมป์แล้ว)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="my-5">
        <div class="card">
            <div class="card-body">
                <div class="justify-content-start">
                    <div class="my-3">
                        <h3 class="text-iwow-darkgreen">รายละเอียดผู้เอาประกัน</h3>
                        <div class="row">
                            <div class="col-6">
                                <p>ชื่อ-นามสกุล</p>
                            </div>
                            <div class="col-6">
                                <p>{{ customerData.firstname }} {{ customerData.lastname }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>เพศ</p>
                            </div>
                            <div class="col-6">
                                <p>{{ customerData.sex === 'male' ? 'ชาย':'หญิง' }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>วันเดือนปีเกิด</p>
                            </div>
                            <div class="col-6">
                                <p>{{ customerData.birthdate }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>หมายเลขบัตรประชาชน</p>
                            </div>
                            <div class="col-6">
                                <p>{{ customerData.personalId }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>ที่อยู่</p>
                            </div>
                            <div class="col-4">
                                <p>{{ customerData.address }} {{ customerData.road }} {{ customerData.subdistrict }} {{ customerData.district }} {{ customerData.province }} {{ customerData.postalCode }}  </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>เบอร์มือถือ</p>
                            </div>
                            <div class="col-4">
                                <p>{{ customerData.phone }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Email</p>
                            </div>
                            <div class="col-4">
                                <p>{{ customerData.email }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>วันที่เริ่มต้นคุ้มครอง</p>
                            </div>
                            <div class="col-4">
                                <p>{{ coverageData.startInsurance }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="my-3">
                        <h3 class="text-iwow-darkgreen">รายละเอียดรถยนต์</h3>
                        <div class="row">
                            <div class="col-6">
                                <p>ยี่ห้อ</p>
                            </div>
                            <div class="col-6">
                                <p>{{ carData.carBrand.longName }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>รุ่น</p>
                            </div>
                            <div class="col-6">
                                <p>{{ carData.carModel.shortName }} {{ carData.carModel.fuelType == 'hybrid' ? 'hybrid':'' | uppercase }} ปี{{ carData.yearModel }}({{ carData.carModel.engineSize }} cc)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>ปีจดทะเบียน</p>
                            </div>
                            <div class="col-6">
                                <p>{{ coverageData.assuredVehicle.licenseYear }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>ประเภทการใช้งาน</p>
                            </div>
                            <div class="col-6">
                                <p>รถยนต์นั่งส่วนบุคคลไม่เกิน 7 ที่นั่ง</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>ป้ายทะเบียน</p>
                            </div>
                            <div class="col-4">
                                <p>{{ coverageData.assuredVehicle.licensePlateNo }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>จังหวัดที่ออกทะเบียน</p>
                            </div>
                            <div class="col-4">
                                <p>{{ coverageData.assuredVehicle.licenseProvince }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>เลขตัวถังรถยนต์</p>
                            </div>
                            <div class="col-4">
                                <p>{{ coverageData.assuredVehicle.chassisNo }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-check">
                        <label for="">
                            <input type="checkbox" class="form-control-check" (change)="isConfirmCheck($event)">
                            ข้าพเจ้าในฐานะผู้ซื้อ ผู้เอาประกันภัย ขอรับรองว่ารายละเอียดต่าง ๆ ข้างต้นนี้ถูกต้อง สมบูรณ์ และมีความประสงค์ขอเอาประกันภัยกับบริษัทฯ ตามเงื่อนไขของกรมธรรม์ประกันภัยที่บริษัทฯ ได้ใช้สำหรับการประกันภัยนี้ อีกทั้งข้าพเจ้ายืนยันและตกลงที่จะให้ข้อมูลนี้เป็นมูลฐานของสัญญาระหว่างข้าพเจ้าและบริษัทฯ
                        </label>
                    </div>
                    <div class="form-check">
                        <label for="">
                            <input type="checkbox" class="form-control-check" (change)="isOicCheck($event)">
                            ท่านได้ยินยอมให้บริษัท จัดเก็บข้อมูลส่วนบุคคล ประมวลผล หรือใช้ เพื่อเปิดเผยต่อคปภ. หรือเพื่อประโยชน์ใดๆ ตามวัตถุประสงค์ของบริษัทฯ
                        </label>
                    </div>

                    <div class="my-5 text-center">
                        <!-- <button class="btn btn-darkgreen" data-toggle="modal" data-target="#omiseModal" [disabled]="!isCheck" (click)="checkAuth()">ยืนยันข้อมูล และชำระเงิน</button> -->
                        <button class="btn btn-darkgreen" [disabled]="!isCheck && !isOic" (click)="checkAuth()">ยืนยันข้อมูล และชำระเงิน</button>
                        <!-- <form id="checkoutForm" method="POST" action="http://localhost:4200/#/payment/success"></form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <swal #loadingSwal
    title="โปรดรอ"
    text="กำลังชำระเงินอย่างปลอดภัย..."
    icon="question"
    (beforeOpen)="onSwalBeforeLoading($event)"
></swal> -->
<div class="modal fade" id="omiseModal" tabindex="-1" role="dialog" aria-labelledby="omiseModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form [formGroup]="cardForm" (submit)="submit()">
                    <div class="form-group">
                        <label for="cardNumber">หมายเลขบัตรเครดิต</label>
                        <input type="text" class="form-control" formControlName="cardNumber" pattern="\d*" maxlength="16" [ngClass]="{'is-invalid': cardFormItem('cardNumber').invalid && (cardFormItem('cardNumber').dirty || cardFormItem('cardNumber').touched)}" required>
                        <div class="invalid-feedback" *ngIf="cardFormItem('cardNumber').invalid && (cardFormItem('cardNumber').dirty || cardFormItem('cardNumber').touched)">
                            <div *ngIf="cardFormItem('cardNumber').hasError('required')">กรุณากรอกหมายเลขบัตร</div>
                            <div *ngIf="cardFormItem('cardNumber').hasError('pattern')">กรุณากรอกหมายเลขบัตรให้ถูกต้อง</div>
                            <div *ngIf="cardFormItem('cardNumber').hasError('maxlength')">กรุณากรอกหมายเลขบัตรให้ครบ 16 หลัก</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cardName">ชื่อบนบัตร</label>
                        <input type="text" class="form-control" formControlName="cardName" [ngClass]="{'is-invalid': cardFormItem('cardName').invalid && (cardFormItem('cardName').dirty || cardFormItem('cardName').touched)}" required>
                        <div class="invalid-feedback" *ngIf="cardFormItem('cardName').invalid && (cardFormItem('cardName').dirty || cardFormItem('cardName').touched)">
                            <div *ngIf="cardFormItem('cardName').hasError('required')">กรุณากรอกชื่อให้ตรงกับบัตร</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-12">
                            <div class="form-group">
                                <label for="expiredMonth">เดือนหมดอายุ</label>
                                <select name="expiredMonth" id="expiredMonth" class="form-control" formControlName="expiredMonth" [ngClass]="{'is-invalid': cardFormItem('expiredMonth').invalid && (cardFormItem('expiredMonth').dirty || cardFormItem('expiredMonth').touched)}" required>
                                    <option value="" disabled="disabled">เลือกเดือน</option>
                                    <option value="01">มกราคม</option>
                                    <option value="02">กุมภาพันธ์</option>
                                    <option value="03">มีนาคม</option>
                                    <option value="04">เมษายน</option>
                                    <option value="05">พฤษภาคม</option>
                                    <option value="06">มิถุนายน</option>
                                    <option value="07">กรกฎาคม</option>
                                    <option value="08">สิงหาคม</option>
                                    <option value="09">กันยายน</option>
                                    <option value="10">ตุลาคม</option>
                                    <option value="11">พฤศจิกายน</option>
                                    <option value="12">ธันวาคม</option>
                                </select>
                                <div class="invalid-feedback" *ngIf="cardFormItem('expiredMonth').invalid && (cardFormItem('expiredMonth').dirty || cardFormItem('expiredMonth').touched)">
                                    <div *ngIf="cardFormItem('expiredMonth').hasError('required')">กรุณากรอกเดือนหมดอายุของบัตร</div>
                                </div>
                            </div>      
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="form-group">
                                <label for="expiredYear">ปีหมดอายุ</label>
                                <select name="expiredYear" id="expiredYear" class="form-control" formControlName="expiredYear" [ngClass]="{'is-invalid': cardFormItem('expiredYear').invalid && (cardFormItem('expiredYear').dirty || cardFormItem('expiredYear').touched)}" required>
                                    <option value="" disabled="disabled">เลือกปี</option>
                                    <option *ngFor="let item of yearList" [ngValue]="item">{{ item }}</option>
                                </select>
                                <div class="invalid-feedback" *ngIf="cardFormItem('expiredYear').invalid && (cardFormItem('expiredYear').dirty || cardFormItem('expiredYear').touched)">
                                    <div *ngIf="cardFormItem('expiredYear').hasError('required')">กรุณากรอกปีหมดอายุของบัตร</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="form-group">
                                <label for="cvc">รหัส CVC</label>
                                <input type="text" class="form-control" formControlName="cvc" maxlength="3" [ngClass]="{'is-invalid': cardFormItem('cvc').invalid && (cardFormItem('cvc').dirty || cardFormItem('cvc').touched)}" required>
                                <div class="invalid-feedback" *ngIf="cardFormItem('cvc').invalid && (cardFormItem('cvc').dirty || cardFormItem('cvc').touched)">
                                    <div *ngIf="cardFormItem('cvc').hasError('required')">กรุณากรอกรหัส CVC</div>
                                    <div *ngIf="cardFormItem('cvc').hasError('maxlength')">รหัส CVC 3 หลัก ด้านหลังบัตร</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="p-2">
                            <button type="button" class="btn btn-light" data-dismiss="modal">ปิด</button>
                        </div>
                        <div class="p-2">
                            <button type="submit" class="btn btn-darkgreen" [disabled]="cardForm.invalid">ชำระเงิน</button>
                        </div>
                    </div>
                </form>
                <div class="text-center pt-5 pb-2">
                    <span>Secured by <img class="omise-logo" [src]="OMISE_LOGO" alt="omise"></span>
                </div>
                <!-- <div class="d-flex justify-content-center align-items-center">
                </div> -->
            </div>
        </div>
    </div>
</div>
