<div class="card">
    <div class="card-body">
        <form [formGroup]="memberForm" (submit)="submit()">
            <div class="my-3 text-center">
                <h1 class="card-title text-iwow-darkgreen">ข้อมูลส่วนตัว</h1>
            </div>
            <div class="my-3">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <label for="personalId">รหัสบัตรประชาชน</label>
                            </div>
                            <div class="col-lg-9 col-12">
                                <input type="text" class="form-control" id="personalId" name="personalId" [ngClass]="{'is-invalid': personalId.invalid && (personalId.dirty || personalId.touched)}" formControlName="personalId">
                                <div *ngIf="personalId.invalid && (personalId.dirty || personalId.touched)" class="invalid-feedback">
                                    <div *ngIf="personalId.hasError('required')">กรุณากรอกหมายเลขบัตรประชาชนของท่าน</div>
                                    <div *ngIf="personalId.hasError('minlength')">กรอกหมายเลขบัตรประชาชนให้ครบ 13 หลัก</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <label for="prefix">คำนำหน้า</label>
                            </div>
                            <div class="col-lg-9 col-12">
                                <select name="prefix" id="prefix" class="form-control" [ngClass]="{'is-invalid': prefix.invalid && (prefix.dirty || prefix.touched)}" formControlName="prefix">
                                    <option value="mr">นาย</option>
                                    <option value="ms">นาง</option>
                                    <option value="mrs">นางสาว</option>
                                </select>
                                <div *ngIf="prefix.invalid && (prefix.dirty || prefix.touched)" class="invalid-feedback">
                                    <div *ngIf="prefix.hasError('required')">กรุณาเลือกคำนำหน้าของท่าน</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <label for="firstname">ชื่อ</label>
                            </div>
                            <div class="col-lg-9 col-12">
                                <input type="text" class="form-control" name="firstname" id="firstname" [ngClass]="{'is-invalid': firstname.invalid && (firstname.dirty || firstname.touched)}" formControlName="firstname">
                                <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="invalid-feedback">
                                    <div *ngIf="firstname.hasError('required')">กรุณากรอกชื่อของท่าน</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <label for="lastname">นามสกุล</label>
                            </div>
                            <div class="col-lg-9 col-12">
                                <input type="text" class="form-control" name="lastname" id="lastname" [ngClass]="{'is-invalid': lastname.invalid && (lastname.dirty || lastname.touched)}" formControlName="lastname">
                                <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="invalid-feedback">
                                    <div *ngIf="lastname.hasError('required')">กรุณากรอกนามสกุลของท่าน</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <label for="phone">หมายเลขโทรศัพท์</label>
                            </div>
                            <div class="col-lg-9 col-12">
                                <input type="tel" class="form-control" name="phone" id="phone" [ngClass]="{'is-invalid': phone.invalid && (phone.dirty || phone.touched)}" formControlName="phone">
                                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="invalid-feedback">
                                    <div *ngIf="phone.hasError('required')">กรุณากรอกหมายเลขโทรศัพท์ของท่าน</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <label for="birthdate">วันเกิด</label>
                            </div>
                            <div class="col-lg-9 col-12">
                                <input type="date" class="form-control" name="birthdate" id="birthdate" [ngClass]="birthdate.invalid && (birthdate.dirty || birthdate.touched)" formControlName="birthdate">
                                <div *ngIf="birthdate.invalid && (birthdate.dirty || birthdate.touched)" class="invalid-feedback">
                                    <div *ngIf="birthdate.hasError('required')">กรุณากรอกวันเกิดของท่าน</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <label for="address">ที่อยู่</label>
                            </div>
                            <div class="col-lg-9 col-12">
                                <input type="text" class="form-control" name="address" id="address" [ngClass]="{'is-invalid': address.invalid && (address.dirty || address.touched)}" formControlName="address">
                                <div *ngIf="address.invalid && (address.dirty || address.touched)" class="invalid-feedback">
                                    <div *ngIf="address.hasError('required')">กรุณากรอกที่อยู่ของท่าน</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <label for="road">ถนน</label>
                            </div>
                            <div class="col-lg-9 col-12">
                                <input type="text" class="form-control" name="road" id="road" [ngClass]="{'is-invalid': road.invalid && (road.dirty || road.touched)}" formControlName="road">
                                <div *ngIf="road.invalid && (road.dirty || road.touched)" class="invalid-feedback">
                                    <div *ngIf="road.hasError('required')">กรุณากรอกถนน</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <label for="province">จังหวัด</label>
                            </div>
                            <div class="col-lg-9 col-12">
                                <input type="text" class="form-control" name="province" id="province" [ngClass]="{'is-invalid': province.invalid && (province.dirty || province.touched)}" formControlName="province">
                                <div *ngIf="province.invalid && (province.dirty || province.touched)" class="invalid-feedback">
                                    <div *ngIf="province.hasError('required')">กรุณากรอกจังหวัดของท่าน</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <label for="district">เขต/อำเภอ</label>
                            </div>
                            <div class="col-lg-9 col-12">
                                <input type="text" class="form-control" name="district" id="district" [ngClass]="{'is-invalid': district.invalid && (district.dirty || district.touched)}" formControlName="district">
                                <div *ngIf="district.invalid && (district.dirty || district.touched)" class="invalid-feedback">
                                    <div *ngIf="district.hasError('required')">กรุณากรอกอำเภอของท่าน</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <label for="subdistrict">แขวง/ตำบล</label>
                            </div>
                            <div class="col-lg-9 col-12">
                                <input type="text" class="form-control" name="subdistrict" id="subdistrict" [ngClass]="{'is-invalid': subdistrict.invalid && (subdistrict.dirty || subdistrict.touched)}" formControlName="subdistrict">
                                <div *ngIf="subdistrict.invalid && (subdistrict.dirty || subdistrict.touched)" class="invalid-feedback">
                                    <div *ngIf="subdistrict.hasError('required')">กรุณากรอกตำบลของท่าน</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <label for="postalCode">รหัสไปรษณีย์</label>
                            </div>
                            <div class="col-lg-9 col-12">
                                <input type="text" class="form-control" name="postalCode" id="postalCode" [ngClass]="{'is-invalid': postalCode.invalid && (postalCode.dirty || postalCode.touched)}" formControlName="postalCode">
                                <div *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)" class="invalid-feedback">
                                    <div *ngIf="postalCode.hasError('required')">กรุณากรอกรหัสไปรษณีย์ของท่าน</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 mb-3">
                <div class="text-center">
                    <h1 class="card-title text-iwow-darkgreen">ข้อมูลบัญชี</h1>
                </div>
            </div>
            <div class="my-3">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <label for="email">อีเมล</label>
                            </div>
                            <div class="col-lg-9 col-12">
                                <input type="email" class="form-control" id="email" name="email" formControlName="email" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 mb-3 text-center">
                <ng-container *ngIf="!isLoading; else loadingBtn">
                    <button class="btn btn-lightgreen" type="submit" [disabled]="!memberForm.valid">บันทึก</button>
                </ng-container>
                <ng-template #loadingBtn>
                    <button class="btn btn-block btn-lightgreen" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        กำลังบันทึกข้อมูล...
                    </button>
                </ng-template>
            </div>
        </form>
    </div>
</div>