<div class="container" style="padding: 80px">
    <div class="card my-5">
        <div class="card-body">
            <div class="text-center">
                <h1 class="text-iwow-lightgreen"><i class="fa fa-check-circle-o"></i> การชำระเงินสำเร็จ</h1>
                <h4 class="mb-5"> ขอบคุณที่ซื้อประกันกับเรา</h4>
            </div>
            <div class="media mb-5 d-flex justify-content-center align-items-start">
                <img [src]="insurance.company[0].imgUrl" class="mr-3 insurance-logo" alt="logo">
                <div class="media-body">
                    <h2>ประกันของคุณคือ <span class="text-iwow-darkgreen">{{ insurance.insuranceName }}</span> ของ <span class="text-iwow-darkgreen">{{ insurance.company[0].name }}</span>
                        ประเภท <span class="text-iwow-darkgreen">{{ insurance.policyType }}</span></h2>
                    <p class="mb-0">สำหรับรถยนต์: {{ carData.carBrand.longName }} {{ carData.carModel.shortName }} {{ carData.carModel.fuelType == 'hybrid' ? 'hybrid':'' | uppercase }}({{ carData.carModel.engineSize }}) - {{ carData.yearModel }}</p>
                    <p class="mb-0">ทุนประกัน: {{ insurance.ftsi | number: '1.0-0' }} บาท</p>
                    <p class="mb-0">ซื้อพร้อม พ.ร.บ.: {{ insurance.isCombineWithCompulsory ? 'ใช่':'ไม่ใช่' }}</p>
                    <p class="mb-0">เบี้ยประกันรวมทั้งหมด: <span class="text-iwow-darkgreen">{{ insurance.netPrice | number: '1.0-0' }} บาท </span></p>
                    <p class="mb-0">(รวมภาษีและอากรแสตมป์แล้ว)</p>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-lightgreen" routerLink="/home">กลับสู่หน้าหลัก</button>
            </div>
        </div>
    </div>
</div>