<ng-container *ngIf="results.length > 0; else noResult">
  <div class="row my-3" *ngIf="insuranceType1.length > 0">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">ประกันประเภท 1</h1>
          <div class="row mt-3">
            <div class="col-lg-4 col-md-6 col-12" *ngFor="let result of insuranceType1; let i=index">
              <div class="card">
                <div class="card-body p-3">
                  <div class="text-center p-3">
                    <img class="p-3 insurance-img" [src]="result.company[0].imgUrl" alt="logo">
                    <h5 class="card-title">{{ result.insuranceName }}</h5>
                    <h3 class="card-title">{{ result.netPrice | number: '1.0-0' }} บาท</h3>
                  </div>
                  <div class="text-center">
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ทุนประกัน</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.odsiPerTime; else odsiPerTime">
                          <p>{{ result.odsiPerTime | number: '1.0-0' }} บาท</p>
                        </ng-container>
                        <ng-template #odsiPerTime>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>คุ้มครองน้ำท่วม</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.flood; else flood">
                          <p>{{ result.flood | number: '1.0-0' }} บาท</p>
                        </ng-container>
                        <ng-template #flood>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ไฟไหม้และโจรกรรม</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.ftsi; else ftsi">
                          <p>{{ result.ftsi | number: '1.0-0' }} บาท</p>
                        </ng-container>
                        <ng-template #ftsi>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ค่าเสียหายส่วนแรก</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.excess; else noExcess">
                          <p>{{ result.excess | number: '1.0-0'}} บาท</p>
                        </ng-container>
                        <ng-template #noExcess>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ซ่อม</p>
                      </div>
                      <div class="col-5 text-left">
                        <p>{{ result.coverageType }}</p>
                      </div>
                    </div>
                    <!-- <div class="row my-3">
                      <div class="col-lg-8 offset-lg-2 col-12">
                        <div class="row no-gutters">
                          <div class="col-3">
                            <button class="btn btn-block btn-light px-0" style="padding: 15px 20px;" type="button"
                              data-toggle="modal" [attr.data-target]="'#type1detail'+i"><i
                                class="fa fa-lg fa-file-text-o"></i></button>
                          </div>
                          <div class="col-9">
                            <button class="btn btn-block btn-warning" style="padding: 15px 20px;" type="button"
                              (click)="addCompareList(result)">เปรียบเทียบ</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-8 offset-lg-2 col-12">
                        <button class="btn btn-block btn-darkgreen mt-2" style="padding: 15px 20px;" type="button"
                          (click)="navigateWithData(result)">ซื้อเลย</button>
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="card-footer p-0 bg-transparent">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <button class="btn btn-light btn-block" data-toggle="modal"
                        [attr.data-target]="'#type1detail'+i"><i class="fa fa-lg fa-file-text-o"></i>
                        ดูรายละเอียดแผน</button>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-6">
                      <button class="btn btn-warning btn-block" (click)="addCompareList(result)">เปรียบเทียบ</button>
                    </div>
                    <div class="col-6">
                      <button class="btn btn-darkgreen btn-block" (click)="navigateWithData(result)">ซื้อเลย</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" [attr.id]="'type1detail'+i" tabindex="-1" role="dialog"
                [attr.aria-labelledby]="'type1detail'+i" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <div class="media">
                        <img [src]="result.company[0].imgUrl"
                          style="background-color: #4d4d4d; width: 45px; padding: 5px" class="mr-3" alt="logo">
                        <div class="media-body">
                          <h5 class="mt-0 text-iwow-darkgreen">{{ result.company[0].name }}</h5>
                          <p class="text-black">{{ result.insuranceName }}</p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <div class="justify-content-center">
                            <div class="my-3">
                              <h3 class="text-iwow-darkgreen text-center">ความคุ้มครองรถยนต์เอาประกัน</h3>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ทุนประกัน</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.odsiPerTime; else odsiPerTime">
                                    <p>{{ result.odsiPerTime | number: '1.0-0' }} บาท</p>
                                  </ng-container>
                                  <ng-template #odsiPerTime>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>คุ้มครองน้ำท่วม</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.flood; else flood">
                                    <p>{{ result.flood | number: '1.0-0' }} บาท</p>
                                  </ng-container>
                                  <ng-template #flood>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ไฟไหม้และโจรกรรม</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.ftsi; else ftsi">
                                    <p>{{ result.ftsi | number: '1.0-0' }} บาท</p>
                                  </ng-container>
                                  <ng-template #ftsi>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ค่าเสียหายส่วนแรก</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.excess; else noExcess">
                                    <p>{{ result.excess | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noExcess>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ซ่อม</p>
                                </div>
                                <div class="col-5 text-left">
                                  <p>{{ result.coverageType }}</p>
                                </div>
                              </div>
                            </div>

                            <div class="my-3">
                              <h3 class="text-iwow-darkgreen text-center">ความคุ้มครองบุคคลภายนอก</h3>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>คุ้มครองชีวิตต่อคน</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.tpbiPerPersion; else noTpbiPerPerson">
                                    <p>{{ result.tpbiPerPersion | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noTpbiPerPerson>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>คุ้มครองชีวิตต่อครั้ง</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.tpbiPerTime; else noTpbiPerTime">
                                    <p>{{ result.tpbiPerTime | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noTpbiPerTime>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ทรัพย์สินบุคคลภายนอก</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.tppd; else noTppd">
                                    <p>{{ result.tppd | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noTppd>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                            </div>

                            <div class="my-3">
                              <h3 class="text-iwow-darkgreen text-center">ความคุ้มครองเพิ่มเติม</h3>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>อุบัติเหตุส่วนบุคคล</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.paPerPerson; else noPa">
                                    <p>{{ result.paPerPerson | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noPa>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ประกันตัวผู้ขับขี่</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.bailBondPerTime; else noBail">
                                    <p>{{ result.bailBondPerTime | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noBail>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ค่ารักษาพยาบาล</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.medicalExpensePerPerson; else noMed">
                                    <p>{{ result.medicalExpensePerPerson | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noMed>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                            </div>

                            <div class="my-5 text-center">
                              <a class="btn btn-darkgreen px-5" routerLink="/insurance/insurance-detail"
                                (click)="hideModal('type1detail'+i, result)">ซื้อเลย</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3" *ngIf="insuranceType2Plus.length > 0">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">ประกันประเภท 2+</h1>
          <div class="row mt-3">
            <div class="col-lg-4 col-md-6 col-12" *ngFor="let result of insuranceType2Plus; let i=index">
              <div class="card">
                <div class="card-body p-3">
                  <div class="text-center p-3">
                    <img class="p-3 insurance-img" [src]="result.company[0].imgUrl" alt="logo">
                    <h5 class="card-title">{{ result.insuranceName }}</h5>
                    <h3 class="card-title">{{ result.netPrice | number: '1.0-0' }} บาท</h3>
                  </div>
                  <div class="text-center">
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ทุนประกัน</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.odsiPerTime; else odsiPerTime">
                          <p>{{ result.odsiPerTime | number: '1.0-0' }} บาท</p>
                        </ng-container>
                        <ng-template #odsiPerTime>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>คุ้มครองน้ำท่วม</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.flood; else flood">
                          <p>{{ result.flood | number: '1.0-0' }} บาท</p>
                        </ng-container>
                        <ng-template #flood>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ไฟไหม้และโจรกรรม</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.ftsi; else ftsi">
                          <p>{{ result.ftsi | number: '1.0-0' }} บาท</p>
                        </ng-container>
                        <ng-template #ftsi>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ค่าเสียหายส่วนแรก</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.excess; else noExcess">
                          <p>{{ result.excess | number: '1.0-0'}} บาท</p>
                        </ng-container>
                        <ng-template #noExcess>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ซ่อม</p>
                      </div>
                      <div class="col-5 text-left">
                        <p>{{ result.coverageType }}</p>
                      </div>
                    </div>
                    <!-- <div class="row my-3">
                      <div class="col-lg-8 offset-lg-2 col-12">
                        <div class="row no-gutters">
                          <div class="col-3">
                            <button class="btn btn-block btn-light px-0" style="padding: 15px 20px;" type="button"
                              data-toggle="modal" [attr.data-target]="'#type2detail'+i"><i
                                class="fa fa-lg fa-file-text-o"></i></button>
                          </div>
                          <div class="col-9">
                            <button class="btn btn-block btn-warning" style="padding: 15px 20px;" type="button"
                              (click)="addCompareList(result)">เปรียบเทียบ</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-8 offset-lg-2 col-12">
                        <button class="btn btn-block btn-darkgreen mt-2" style="padding: 15px 20px;" type="button"
                          (click)="navigateWithData(result)">ซื้อเลย</button>
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="card-footer p-0 bg-transparent">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <button class="btn btn-light btn-block" data-toggle="modal"
                        [attr.data-target]="'#type2PlusDetail'+i"><i class="fa fa-lg fa-file-text-o"></i>
                        ดูรายละเอียดแผน</button>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-6">
                      <button class="btn btn-warning btn-block" (click)="addCompareList(result)">เปรียบเทียบ</button>
                    </div>
                    <div class="col-6">
                      <button class="btn btn-darkgreen btn-block" (click)="navigateWithData(result)">ซื้อเลย</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" [attr.id]="'type2PlusDetail'+i" tabindex="-1" role="dialog"
                [attr.aria-labelledby]="'type2PlusDetail'+i" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <div class="media">
                        <img [src]="result.company[0].imgUrl"
                          style="background-color: #4d4d4d; width: 45px; padding: 5px" class="mr-3" alt="logo">
                        <div class="media-body">
                          <h5 class="mt-0 text-iwow-darkgreen">{{ result.company[0].name }}</h5>
                          <p class="text-black">{{ result.insuranceName }}</p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <div class="justify-content-center">
                            <div class="my-3">
                              <h3 class="text-iwow-darkgreen text-center">ความคุ้มครองรถยนต์เอาประกัน</h3>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ทุนประกัน</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.odsiPerTime; else odsiPerTime">
                                    <p>{{ result.odsiPerTime | number: '1.0-0' }} บาท</p>
                                  </ng-container>
                                  <ng-template #odsiPerTime>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>คุ้มครองน้ำท่วม</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.flood; else flood">
                                    <p>{{ result.flood | number: '1.0-0' }} บาท</p>
                                  </ng-container>
                                  <ng-template #flood>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ไฟไหม้และโจรกรรม</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.ftsi; else ftsi">
                                    <p>{{ result.ftsi | number: '1.0-0' }} บาท</p>
                                  </ng-container>
                                  <ng-template #ftsi>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ค่าเสียหายส่วนแรก</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.excess; else noExcess">
                                    <p>{{ result.excess | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noExcess>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ซ่อม</p>
                                </div>
                                <div class="col-5 text-left">
                                  <p>{{ result.coverageType }}</p>
                                </div>
                              </div>
                            </div>

                            <div class="my-3">
                              <h3 class="text-iwow-darkgreen text-center">ความคุ้มครองบุคคลภายนอก</h3>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>คุ้มครองชีวิตต่อคน</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.tpbiPerPersion; else noTpbiPerPerson">
                                    <p>{{ result.tpbiPerPersion | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noTpbiPerPerson>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>คุ้มครองชีวิตต่อครั้ง</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.tpbiPerTime; else noTpbiPerTime">
                                    <p>{{ result.tpbiPerTime | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noTpbiPerTime>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ทรัพย์สินบุคคลภายนอก</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.tppd; else noTppd">
                                    <p>{{ result.tppd | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noTppd>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                            </div>

                            <div class="my-3">
                              <h3 class="text-iwow-darkgreen text-center">ความคุ้มครองเพิ่มเติม</h3>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>อุบัติเหตุส่วนบุคคล</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.paPerPerson; else noPa">
                                    <p>{{ result.paPerPerson | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noPa>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ประกันตัวผู้ขับขี่</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.bailBondPerTime; else noBail">
                                    <p>{{ result.bailBondPerTime | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noBail>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ค่ารักษาพยาบาล</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.medicalExpensePerPerson; else noMed">
                                    <p>{{ result.medicalExpensePerPerson | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noMed>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                            </div>

                            <div class="my-5 text-center">
                              <a class="btn btn-darkgreen px-5" routerLink="/insurance/insurance-detail"
                                (click)="hideModal('type2PlusDetail'+i, result)">ซื้อเลย</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3" *ngIf="insuranceType2.length > 0">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">ประกันประเภท 2</h1>
          <div class="row mt-3">
            <div class="col-lg-4 col-md-6 col-12" *ngFor="let result of insuranceType2; let i=index">
              <div class="card">
                <div class="card-body p-3">
                  <div class="text-center p-3">
                    <img class="p-3 insurance-img" [src]="result.company[0].imgUrl" alt="logo">
                    <h5 class="card-title">{{ result.insuranceName }}</h5>
                    <h3 class="card-title">{{ result.netPrice | number: '1.0-0' }} บาท</h3>
                  </div>
                  <div class="text-center">
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ทุนประกัน</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.odsiPerTime; else odsiPerTime">
                          <p>{{ result.odsiPerTime | number: '1.0-0' }} บาท</p>
                        </ng-container>
                        <ng-template #odsiPerTime>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>คุ้มครองน้ำท่วม</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.flood; else flood">
                          <p>{{ result.flood | number: '1.0-0' }} บาท</p>
                        </ng-container>
                        <ng-template #flood>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ไฟไหม้และโจรกรรม</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.ftsi; else ftsi">
                          <p>{{ result.ftsi | number: '1.0-0' }} บาท</p>
                        </ng-container>
                        <ng-template #ftsi>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ค่าเสียหายส่วนแรก</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.excess; else noExcess">
                          <p>{{ result.excess | number: '1.0-0'}} บาท</p>
                        </ng-container>
                        <ng-template #noExcess>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ซ่อม</p>
                      </div>
                      <div class="col-5 text-left">
                        <p>{{ result.coverageType }}</p>
                      </div>
                    </div>
                    <!-- <div class="row my-3">
                      <div class="col-lg-8 offset-lg-2 col-12">
                        <div class="row no-gutters">
                          <div class="col-3">
                            <button class="btn btn-block btn-light px-0" style="padding: 15px 20px;" type="button"
                              data-toggle="modal" [attr.data-target]="'#type2detail'+i"><i
                                class="fa fa-lg fa-file-text-o"></i></button>
                          </div>
                          <div class="col-9">
                            <button class="btn btn-block btn-warning" style="padding: 15px 20px;" type="button"
                              (click)="addCompareList(result)">เปรียบเทียบ</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-8 offset-lg-2 col-12">
                        <button class="btn btn-block btn-darkgreen mt-2" style="padding: 15px 20px;" type="button"
                          (click)="navigateWithData(result)">ซื้อเลย</button>
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="card-footer p-0 bg-transparent">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <button class="btn btn-light btn-block" data-toggle="modal"
                        [attr.data-target]="'#type2detail'+i"><i class="fa fa-lg fa-file-text-o"></i>
                        ดูรายละเอียดแผน</button>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-6">
                      <button class="btn btn-warning btn-block" (click)="addCompareList(result)">เปรียบเทียบ</button>
                    </div>
                    <div class="col-6">
                      <button class="btn btn-darkgreen btn-block" (click)="navigateWithData(result)">ซื้อเลย</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" [attr.id]="'type2detail'+i" tabindex="-1" role="dialog"
                [attr.aria-labelledby]="'type2detail'+i" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <div class="media">
                        <img [src]="result.company[0].imgUrl"
                          style="background-color: #4d4d4d; width: 45px; padding: 5px" class="mr-3" alt="logo">
                        <div class="media-body">
                          <h5 class="mt-0 text-iwow-darkgreen">{{ result.company[0].name }}</h5>
                          <p class="text-black">{{ result.insuranceName }}</p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <div class="justify-content-center">
                            <div class="my-3">
                              <h3 class="text-iwow-darkgreen text-center">ความคุ้มครองรถยนต์เอาประกัน</h3>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ทุนประกัน</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.odsiPerTime; else odsiPerTime">
                                    <p>{{ result.odsiPerTime | number: '1.0-0' }} บาท</p>
                                  </ng-container>
                                  <ng-template #odsiPerTime>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>คุ้มครองน้ำท่วม</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.flood; else flood">
                                    <p>{{ result.flood | number: '1.0-0' }} บาท</p>
                                  </ng-container>
                                  <ng-template #flood>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ไฟไหม้และโจรกรรม</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.ftsi; else ftsi">
                                    <p>{{ result.ftsi | number: '1.0-0' }} บาท</p>
                                  </ng-container>
                                  <ng-template #ftsi>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ค่าเสียหายส่วนแรก</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.excess; else noExcess">
                                    <p>{{ result.excess | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noExcess>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ซ่อม</p>
                                </div>
                                <div class="col-5 text-left">
                                  <p>{{ result.coverageType }}</p>
                                </div>
                              </div>
                            </div>

                            <div class="my-3">
                              <h3 class="text-iwow-darkgreen text-center">ความคุ้มครองบุคคลภายนอก</h3>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>คุ้มครองชีวิตต่อคน</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.tpbiPerPersion; else noTpbiPerPerson">
                                    <p>{{ result.tpbiPerPersion | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noTpbiPerPerson>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>คุ้มครองชีวิตต่อครั้ง</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.tpbiPerTime; else noTpbiPerTime">
                                    <p>{{ result.tpbiPerTime | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noTpbiPerTime>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ทรัพย์สินบุคคลภายนอก</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.tppd; else noTppd">
                                    <p>{{ result.tppd | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noTppd>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                            </div>

                            <div class="my-3">
                              <h3 class="text-iwow-darkgreen text-center">ความคุ้มครองเพิ่มเติม</h3>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>อุบัติเหตุส่วนบุคคล</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.paPerPerson; else noPa">
                                    <p>{{ result.paPerPerson | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noPa>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ประกันตัวผู้ขับขี่</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.bailBondPerTime; else noBail">
                                    <p>{{ result.bailBondPerTime | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noBail>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ค่ารักษาพยาบาล</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.medicalExpensePerPerson; else noMed">
                                    <p>{{ result.medicalExpensePerPerson | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noMed>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                            </div>

                            <div class="my-5 text-center">
                              <a class="btn btn-darkgreen px-5" routerLink="/insurance/insurance-detail"
                                (click)="hideModal('type2detail'+i, result)">ซื้อเลย</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3" *ngIf="insuranceType3Plus.length > 0">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">ประกันประเภท 3+</h1>
          <div class="row mt-3">
            <div class="col-lg-4 col-md-6 col-12" *ngFor="let result of insuranceType3Plus; let i=index">
              <div class="card">
                <div class="card-body p-3">
                  <div class="text-center p-3">
                    <img class="p-3 insurance-img" [src]="result.company[0].imgUrl" alt="logo">
                    <h5 class="card-title">{{ result.insuranceName }}</h5>
                    <h3 class="card-title">{{ result.netPrice | number: '1.0-0' }} บาท</h3>
                  </div>
                  <div class="text-center">
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ทุนประกัน</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.odsiPerTime; else odsiPerTime">
                          <p>{{ result.odsiPerTime | number: '1.0-0' }} บาท</p>
                        </ng-container>
                        <ng-template #odsiPerTime>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>คุ้มครองน้ำท่วม</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.flood; else flood">
                          <p>{{ result.flood | number: '1.0-0' }} บาท</p>
                        </ng-container>
                        <ng-template #flood>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ไฟไหม้และโจรกรรม</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.ftsi; else ftsi">
                          <p>{{ result.ftsi | number: '1.0-0' }} บาท</p>
                        </ng-container>
                        <ng-template #ftsi>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ค่าเสียหายส่วนแรก</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.excess; else noExcess">
                          <p>{{ result.excess | number: '1.0-0'}} บาท</p>
                        </ng-container>
                        <ng-template #noExcess>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ซ่อม</p>
                      </div>
                      <div class="col-5 text-left">
                        <p>{{ result.coverageType }}</p>
                      </div>
                    </div>
                    <!-- <div class="row my-3">
                      <div class="col-lg-8 offset-lg-2 col-12">
                        <div class="row no-gutters">
                          <div class="col-3">
                            <button class="btn btn-block btn-light px-0" style="padding: 15px 20px;" type="button"
                              data-toggle="modal" [attr.data-target]="'#type3detail'+i"><i
                                class="fa fa-lg fa-file-text-o"></i></button>
                          </div>
                          <div class="col-9">
                            <button class="btn btn-block btn-warning" style="padding: 15px 20px;" type="button"
                              (click)="addCompareList(result)">เปรียบเทียบ</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-8 offset-lg-2 col-12">
                        <button class="btn btn-block btn-darkgreen mt-2" style="padding: 15px 20px;" type="button"
                          (click)="navigateWithData(result)">ซื้อเลย</button>
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="card-footer p-0 bg-transparent">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <button class="btn btn-light btn-block" data-toggle="modal"
                        [attr.data-target]="'#type3PlusDetail'+i"><i class="fa fa-lg fa-file-text-o"></i>
                        ดูรายละเอียดแผน</button>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-6">
                      <button class="btn btn-warning btn-block" (click)="addCompareList(result)">เปรียบเทียบ</button>
                    </div>
                    <div class="col-6">
                      <button class="btn btn-darkgreen btn-block" (click)="navigateWithData(result)">ซื้อเลย</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" [attr.id]="'type3PlusDetail'+i" tabindex="-1" role="dialog"
                [attr.aria-labelledby]="'type3PlusDetail'+i" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <div class="media">
                        <img [src]="result.company[0].imgUrl"
                          style="background-color: #4d4d4d; width: 45px; padding: 5px" class="mr-3" alt="logo">
                        <div class="media-body">
                          <h5 class="mt-0 text-iwow-darkgreen">{{ result.company[0].name }}</h5>
                          <p class="text-black">{{ result.insuranceName }}</p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <div class="justify-content-center">
                            <div class="my-3">
                              <h3 class="text-iwow-darkgreen text-center">ความคุ้มครองรถยนต์เอาประกัน</h3>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ทุนประกัน</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.odsiPerTime; else odsiPerTime">
                                    <p>{{ result.odsiPerTime | number: '1.0-0' }} บาท</p>
                                  </ng-container>
                                  <ng-template #odsiPerTime>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>คุ้มครองน้ำท่วม</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.flood; else flood">
                                    <p>{{ result.flood | number: '1.0-0' }} บาท</p>
                                  </ng-container>
                                  <ng-template #flood>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ไฟไหม้และโจรกรรม</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.ftsi; else ftsi">
                                    <p>{{ result.ftsi | number: '1.0-0' }} บาท</p>
                                  </ng-container>
                                  <ng-template #ftsi>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ค่าเสียหายส่วนแรก</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.excess; else noExcess">
                                    <p>{{ result.excess | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noExcess>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ซ่อม</p>
                                </div>
                                <div class="col-5 text-left">
                                  <p>{{ result.coverageType }}</p>
                                </div>
                              </div>
                            </div>

                            <div class="my-3">
                              <h3 class="text-iwow-darkgreen text-center">ความคุ้มครองบุคคลภายนอก</h3>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>คุ้มครองชีวิตต่อคน</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.tpbiPerPersion; else noTpbiPerPerson">
                                    <p>{{ result.tpbiPerPersion | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noTpbiPerPerson>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>คุ้มครองชีวิตต่อครั้ง</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.tpbiPerTime; else noTpbiPerTime">
                                    <p>{{ result.tpbiPerTime | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noTpbiPerTime>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ทรัพย์สินบุคคลภายนอก</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.tppd; else noTppd">
                                    <p>{{ result.tppd | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noTppd>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                            </div>

                            <div class="my-3">
                              <h3 class="text-iwow-darkgreen text-center">ความคุ้มครองเพิ่มเติม</h3>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>อุบัติเหตุส่วนบุคคล</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.paPerPerson; else noPa">
                                    <p>{{ result.paPerPerson | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noPa>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ประกันตัวผู้ขับขี่</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.bailBondPerTime; else noBail">
                                    <p>{{ result.bailBondPerTime | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noBail>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ค่ารักษาพยาบาล</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.medicalExpensePerPerson; else noMed">
                                    <p>{{ result.medicalExpensePerPerson | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noMed>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                            </div>

                            <div class="my-5 text-center">
                              <a class="btn btn-darkgreen px-5" routerLink="/insurance/insurance-detail"
                                (click)="hideModal('type3PlusDetail'+i, result)">ซื้อเลย</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3" *ngIf="insuranceType3.length > 0">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">ประกันประเภท 3</h1>
          <div class="row mt-3">
            <div class="col-lg-4 col-md-6 col-12" *ngFor="let result of insuranceType3; let i=index">
              <div class="card">
                <div class="card-body p-3">
                  <div class="text-center p-3">
                    <img class="p-3 insurance-img" [src]="result.company[0].imgUrl" alt="logo">
                    <h5 class="card-title">{{ result.insuranceName }}</h5>
                    <h3 class="card-title">{{ result.netPrice | number: '1.0-0' }} บาท</h3>
                  </div>
                  <div class="text-center">
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ทุนประกัน</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.odsiPerTime; else odsiPerTime">
                          <p>{{ result.odsiPerTime | number: '1.0-0' }} บาท</p>
                        </ng-container>
                        <ng-template #odsiPerTime>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>คุ้มครองน้ำท่วม</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.flood; else flood">
                          <p>{{ result.flood | number: '1.0-0' }} บาท</p>
                        </ng-container>
                        <ng-template #flood>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ไฟไหม้และโจรกรรม</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.ftsi; else ftsi">
                          <p>{{ result.ftsi | number: '1.0-0' }} บาท</p>
                        </ng-container>
                        <ng-template #ftsi>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ค่าเสียหายส่วนแรก</p>
                      </div>
                      <div class="col-5 text-left">
                        <ng-container *ngIf="result.excess; else noExcess">
                          <p>{{ result.excess | number: '1.0-0'}} บาท</p>
                        </ng-container>
                        <ng-template #noExcess>
                          <p>ไม่มี</p>
                        </ng-template>
                      </div>
                    </div>
                    <div class="row justify-content-around">
                      <div class="col-5 text-right">
                        <p>ซ่อม</p>
                      </div>
                      <div class="col-5 text-left">
                        <p>{{ result.coverageType }}</p>
                      </div>
                    </div>
                    <!-- <div class="row my-3">
                      <div class="col-lg-8 offset-lg-2 col-12">
                        <div class="row no-gutters">
                          <div class="col-3">
                            <button class="btn btn-block btn-light px-0" style="padding: 15px 20px;" type="button"
                              data-toggle="modal" [attr.data-target]="'#type3detail'+i"><i
                                class="fa fa-lg fa-file-text-o"></i></button>
                          </div>
                          <div class="col-9">
                            <button class="btn btn-block btn-warning" style="padding: 15px 20px;" type="button"
                              (click)="addCompareList(result)">เปรียบเทียบ</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-8 offset-lg-2 col-12">
                        <button class="btn btn-block btn-darkgreen mt-2" style="padding: 15px 20px;" type="button"
                          (click)="navigateWithData(result)">ซื้อเลย</button>
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="card-footer p-0 bg-transparent">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <button class="btn btn-light btn-block" data-toggle="modal"
                        [attr.data-target]="'#type3detail'+i"><i class="fa fa-lg fa-file-text-o"></i>
                        ดูรายละเอียดแผน</button>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-6">
                      <button class="btn btn-warning btn-block" (click)="addCompareList(result)">เปรียบเทียบ</button>
                    </div>
                    <div class="col-6">
                      <button class="btn btn-darkgreen btn-block" (click)="navigateWithData(result)">ซื้อเลย</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" [attr.id]="'type3detail'+i" tabindex="-1" role="dialog"
                [attr.aria-labelledby]="'type3detail'+i" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <div class="media">
                        <img [src]="result.company[0].imgUrl"
                          style="background-color: #4d4d4d; width: 45px; padding: 5px" class="mr-3" alt="logo">
                        <div class="media-body">
                          <h5 class="mt-0 text-iwow-darkgreen">{{ result.company[0].name }}</h5>
                          <p class="text-black">{{ result.insuranceName }}</p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <div class="justify-content-center">
                            <div class="my-3">
                              <h3 class="text-iwow-darkgreen text-center">ความคุ้มครองรถยนต์เอาประกัน</h3>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ทุนประกัน</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.odsiPerTime; else odsiPerTime">
                                    <p>{{ result.odsiPerTime | number: '1.0-0' }} บาท</p>
                                  </ng-container>
                                  <ng-template #odsiPerTime>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>คุ้มครองน้ำท่วม</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.flood; else flood">
                                    <p>{{ result.flood | number: '1.0-0' }} บาท</p>
                                  </ng-container>
                                  <ng-template #flood>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ไฟไหม้และโจรกรรม</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.ftsi; else ftsi">
                                    <p>{{ result.ftsi | number: '1.0-0' }} บาท</p>
                                  </ng-container>
                                  <ng-template #ftsi>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ค่าเสียหายส่วนแรก</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.excess; else noExcess">
                                    <p>{{ result.excess | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noExcess>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ซ่อม</p>
                                </div>
                                <div class="col-5 text-left">
                                  <p>{{ result.coverageType }}</p>
                                </div>
                              </div>
                            </div>

                            <div class="my-3">
                              <h3 class="text-iwow-darkgreen text-center">ความคุ้มครองบุคคลภายนอก</h3>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>คุ้มครองชีวิตต่อคน</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.tpbiPerPersion; else noTpbiPerPerson">
                                    <p>{{ result.tpbiPerPersion | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noTpbiPerPerson>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>คุ้มครองชีวิตต่อครั้ง</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.tpbiPerTime; else noTpbiPerTime">
                                    <p>{{ result.tpbiPerTime | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noTpbiPerTime>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ทรัพย์สินบุคคลภายนอก</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.tppd; else noTppd">
                                    <p>{{ result.tppd | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noTppd>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                            </div>

                            <div class="my-3">
                              <h3 class="text-iwow-darkgreen text-center">ความคุ้มครองเพิ่มเติม</h3>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>อุบัติเหตุส่วนบุคคล</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.paPerPerson; else noPa">
                                    <p>{{ result.paPerPerson | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noPa>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ประกันตัวผู้ขับขี่</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.bailBondPerTime; else noBail">
                                    <p>{{ result.bailBondPerTime | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noBail>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="row justify-content-around">
                                <div class="col-5 text-right">
                                  <p>ค่ารักษาพยาบาล</p>
                                </div>
                                <div class="col-5 text-left">
                                  <ng-container *ngIf="result.medicalExpensePerPerson; else noMed">
                                    <p>{{ result.medicalExpensePerPerson | number: '1.0-0'}} บาท</p>
                                  </ng-container>
                                  <ng-template #noMed>
                                    <p>ไม่มี</p>
                                  </ng-template>
                                </div>
                              </div>
                            </div>

                            <div class="my-5 text-center">
                              <a class="btn btn-darkgreen px-5" routerLink="/insurance/insurance-detail"
                                (click)="hideModal('type3detail'+i, result)">ซื้อเลย</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #noResult>
  <div class="row my-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <ng-container *ngIf="isLoading === true; else loaded">
            <h3 class="text-center text-muted">กำลังโหลดข้อมูล...</h3>
          </ng-container>
          <ng-template #loaded>
            <h3 class="text-center text-muted">ไม่มีผลลัพธ์</h3>
          </ng-template>

        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="d-flex justify-content-center align-items-center mb-3">
  <button class="btn btn-lightgreen" (click)="goBack()">ย้อนกลับ</button>
</div>
