<div class="card">
    <div class="card-body">
        <div class="my-3 text-center">
            <h1 class="card-title">รายการประกันที่เคยซื้อ</h1>
        </div>
        <div class="my-3">
            <ng-container *ngIf="historyList !== undefined ; else emptyHistory">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ลำดับ</th>
                            <th scope="col">ประเภท</th>
                            <th scope="col">วันที่เริ่ม-สิ้นสุดการคุ้มครอง</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of historyList; let i = index">
                            <th scope="row">{{ i+1 }}</th>
                            <td>ประกันรถยนต์ชั้น 1<br>{{ item.assuredVehicle.brand }} {{ item.assuredVehicle.model }}<br>ปี {{ item.assuredVehicle.year }} ({{ item.assuredVehicle.licenseNumber }})</td>
                            <td>{{ item.effectiveDate_text }} - {{ item.expirationDate_text }}</td>
                            <td>
                                <button class="btn btn-darkgreen" disabled="disabled"><i class="fa fa-search"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <ng-template #emptyHistory>
                <div class="text-center">
                    <h3 class="text-iwow-darkgreen">ไม่มีรายการประกันที่คุณซื้อ</h3>
                </div>
            </ng-template>
        </div>
    </div>
</div>