<div class="container" style="padding: 80px">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">บัญชีสมาชิก <span class="text-iwow-darkgreen">iWOW</span></h1>
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div class="list-group">
                        <a [routerLink]="[ '/member/info' ]" routerLinkActive="active" class="list-group-item list-group-item-action">รายละเอียดบัญชี</a>
                        <a [routerLink]="[ '/member/history' ]" routerLinkActive="active" class="list-group-item list-group-item-action">รายการประกันที่เคยซื้อ</a>
                        <!-- <a class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">ลุ้นโชคกับ iWOW</a>
                        <a class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">รายการที่เคยชิงโชค</a> -->
                        <a [routerLink]="[ '/home' ]" class="list-group-item list-group-item-danger list-group-item-action">กลับสู่หน้าหลัก</a>
                    </div>
                </div>
                <div class="col-lg-9 col-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
