<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ng-container *ngIf="modalSrv.getModalStatus == false; else loginTemplate">
                    <form [formGroup]="loginForm" (submit)="authLogin()">
                        <div class="d-flex flex-column justify-content-center align-items-center p-3">
                            <h2 class="text-darkgreen">เข้าสู่ระบบ</h2>
                            <div class="form-group w-100">
                                <label for="loginEmail">อีเมล</label>
                                <input type="email" name="loginEmail" id="loginEmail" class="form-control" [ngClass]="{'is-invalid': loginEmail.invalid && (loginEmail.dirty || loginEmail.touched)}" formControlName="loginEmail" required>
                                <div *ngIf="loginEmail.invalid && (loginEmail.dirty || loginEmail.touched)" class="invalid-feedback">
                                    <div *ngIf="loginEmail.hasError('required')">กรุณากรอกอีเมล</div>
                                    <div *ngIf="loginEmail.hasError('email')">กรุณากรอกอีเมลให้ถูกต้อง</div>
                                </div>
                            </div>
                            <div class="form-group w-100">
                                <label for="loginPassword">รหัสผ่าน</label>
                                <input type="password" name="loginPassword" id="loginPassword" class="form-control" [ngClass]="{'is-invalid': loginPassword.invalid && (loginPassword.dirty || loginPassword.touched)}" formControlName="loginPassword" required>
                                <div *ngIf="loginPassword.invalid && (loginPassword.dirty || loginPassword.touched)" class="invalid-feedback">
                                    <div *ngIf="loginPassword.hasError('required')">กรุณากรอกรหัสผ่าน</div>
                                    <div *ngIf="loginPassword.hasError('minlength')">รหัสผ่านต้องมีอย่างน้อย 8 หลัก</div>
                                </div>
                            </div>
                            <ng-container *ngIf="!isLoading; else loadingLoginBtn">
                                <button class="btn btn-block btn-lightgreen" type="submit" [disabled]="!loginForm.valid">เข้าสู่ระบบด้วยอีเมล</button>
                            </ng-container>
                            <ng-template #loadingLoginBtn>
                                <button class="btn btn-block btn-lightgreen" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    กำลังเข้าสู่ระบบ...
                                </button>
                            </ng-template>
                            
                        </div>
                    </form>
                    <div class="d-flex justify-content-between align-items-center px-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="remember" (change)="checkIsRememberMe($event)">
                            <label class="form-check-label" for="remember">
                                จำรหัสผ่าน
                            </label>
                        </div>
                        <div>
                            <a href="#" class="iwow-link dark">ลืมรหัสผ่าน</a>
                        </div>
                    </div>
                </ng-container>
                <ng-template #loginTemplate>
                    <form [formGroup]="registerForm" (submit)="authRegister()" autocomplete="off">
                        <div class="d-flex flex-column justify-content-center align-items-center p-3">
                            <h2 class="text-darkgreen">สมัครสมาชิก</h2>
                            <div class="form-group w-100">
                                <label for="regEmail">อีเมล</label>
                                <input type="email" name="regEmail" id="regEmail" class="form-control" formControlName="regEmail" [ngClass]="{'is-invalid': regEmail.invalid && (regEmail.dirty || regEmail.touched)}" required>
                                <div *ngIf="regEmail.invalid && (regEmail.dirty || regEmail.touched)" class="invalid-feedback">
                                    <div *ngIf="regEmail.hasError('required')">กรุณากรอกอีเมล</div>
                                    <div *ngIf="regEmail.hasError('email')">กรุณากรอกอีเมลให้ถูกต้อง</div>
                                </div>
                            </div>
                            <div class="form-group w-100">
                                <label for="regPassword">รหัสผ่าน</label>
                                <input type="password" name="regPassword" id="regPassword" class="form-control" minlength="8" formControlName="regPassword" [ngClass]="{'is-invalid': regPassword.invalid && (regPassword.dirty || regPassword.touched)}" required>
                                <div *ngIf="regPassword.invalid && (regPassword.dirty || regPassword.touched)" class="invalid-feedback">
                                    <div *ngIf="regPassword.hasError('required')">กรุณากรอกรหัสผ่าน</div>
                                    <div *ngIf="regPassword.hasError('minlength')">รหัสผ่านต้องมีอย่างน้อย 8 หลัก</div>
                                </div>
                            </div>
                            <div class="form-group w-100">
                                <label for="confirmPassword">ยืนยันรหัสผ่าน</label>
                                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" minlength="8" formControlName="confirmPassword" [ngClass]="{'is-invalid': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)}" required>
                                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="invalid-feedback">
                                    <div *ngIf="confirmPassword.hasError('required')">กรุณากรอกรหัสผ่าน</div>
                                    <div *ngIf="confirmPassword.hasError('minlength')">รหัสผ่านต้องมีอย่างน้อย 8 หลัก</div>
                                    <div *ngIf="confirmPassword.hasError('MatchPassword')">รหัสผ่านไม่ตรงกัน</div>
                                </div>
                            </div>
                            <ng-container *ngIf="!isLoading; else loadingRegBtn">
                                <button class="btn btn-block btn-lightgreen" type="submit" [disabled]="!registerForm.valid">สมัครสมาชิก</button>
                            </ng-container>
                            <ng-template #loadingRegBtn>
                                <button class="btn btn-block btn-lightgreen" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    กำลังสมัครสมาชิกและเข้าสู่ระบบ...
                                </button>
                            </ng-template>
                        </div>
                    </form>
                    <div class="d-flex justify-content-between align-items-center px-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="remember">
                            <label class="form-check-label" for="remember">
                                รับข่าวสารและสิทธิพิเศษจากทาง iWOW
                            </label>
                        </div>
                    </div>
                </ng-template>
                <p class="divider">หรือ</p>
                <div class="d-flex flex-column justify-content-center align-items-center p-3">
                    <ng-container *ngIf="modalSrv.getModalStatus == false; else registerFacebook">
                        <button class="btn btn-block btn-facebook" type="button" (click)="authLoginWithFacebook()"><i class="fa fa-facebook-f font-weight-bold pr-3" aria-hidden="true"></i>&nbsp;เข้าสู่ระบบด้วย Facebook</button>
                    </ng-container>
                    <ng-template #registerFacebook>
                        <button class="btn btn-block btn-facebook" type="button" (click)="authRegisterWithFacebook()"><i class="fa fa-facebook-f font-weight-bold pr-3" aria-hidden="true"></i>&nbsp;ลงทะเบียนด้วย Facebook</button>
                    </ng-template>
                </div>
                <p class="divider">หรือ</p>
                <ng-container *ngIf="modalSrv.getModalStatus == false; else registerPanel">
                    <div class="d-flex flex-column justify-content-center align-items-center p-3">
                        <a class="h4 text-center iwow-link dark" (click)="modalSrv.isRegisterModal">สมัครสมาชิก</a>
                    </div>
                </ng-container>
                <ng-template #registerPanel>
                    <div class="d-flex flex-column justify-content-center align-items-center p-3">
                        <span class="text-darkgreen">เป็นสมาชิกอยู่แล้ว?&nbsp;<a class="h4 text-center iwow-link dark" (click)="modalSrv.isLoginModal">เข้าสู่ระบบ</a></span>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>