<div class="card">
    <div class="card-body">
        <h1 class="card-title">ส่วนที่ 1 : รายละเอียดผู้เอาประกัน</h1>
        <form [formGroup]="customerForm">
            <!-- <div class="my-3">
                <h3 class="text-iwow-darkgreen text-center">ให้เรากรอกข้อมูลให้ ง่ายๆแค่อัพโหลดบัตรประชาชน</h3>
                <div class="row">
                    <div class="col-10 py-2">
                        <div class="row">
                            <div class="col-3">
                                <label class="mr-3" for="sec1_idCard">อัพโหลดบัตรประชาชน :</label>
                            </div>
                            <div class="col-7">
                                <input type="text" class="form-control mr-3" id="sec1_idCard" disabled="disabled">
                            </div>
                            <div class="col-2">
                                <button class="btn btn-lightgreen" type="button" disabled="disabled">อัพโหลด</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <label class="mr-3" for="sec1_phone">เบอร์มือถือ</label>
                            </div>
                            <div class="col-9">
                                <input type="tel" class="form-control" id="sec1_phone" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <div class="row">
                            <div class="col-3">
                                <label class="mr-3" for="inlineFormInputName4">Email</label>
                            </div>
                            <div class="col-9">
                                <input type="email" class="form-control" id="inlineFormInputName4" disabled="disabled">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="my-3">
                <!-- <h3 class="text-iwow-darkgreen text-center">หรือกรอกข้อมูลเอง</h3> -->
                <h5 class="text-iwow-darkgreen">ข้อมูลตามบัตรประชาชน</h5>
                <div class="row">
                    <div class="col-6 py-2">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <label class="mr-3" for="prefix">คำนำหน้า</label>
                            </div>
                            <div class="col-9">
                                <select class="form-control" id="prefix" formControlName="prefix" [ngClass]="{'is-invalid': customerFormItem('prefix').invalid && (customerFormItem('prefix').dirty || customerFormItem('prefix').touched)}" required>
                                    <option value="mr">นาย</option>
                                    <option value="ms">นาง</option>
                                    <option value="mrs">นางสาว</option>
                                </select>
                                <div class="invalid-feedback" *ngIf="customerFormItem('prefix').invalid && (customerFormItem('prefix').dirty || customerFormItem('prefix').touched)">
                                    <div *ngIf="customerFormItem('prefix').hasError('required')">กรุณาเลือกคำนำหน้า</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 py-2">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <label class="mr-3" for="firstname">ชื่อ</label>
                            </div>
                            <div class="col-9">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="ex: Somchai" 
                                    id="firstname"
                                    formControlName="firstname"
                                    [ngClass]="{'is-invalid': customerFormItem('firstname').invalid && (customerFormItem('firstname').dirty || customerFormItem('firstname').touched)}"
                                    required>
                                <div class="invalid-feedback" *ngIf="customerFormItem('firstname').invalid && (customerFormItem('firstname').dirty || customerFormItem('firstname').touched)">
                                    <div *ngIf="customerFormItem('firstname').hasError('required')">กรุณากรอกชื่อให้ถูกต้อง</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <div class="row">
                            <div class="col-3">
                                <label class="mr-3" for="lastname">นามสกุล</label>
                            </div>
                            <div class="col-9">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="ex: Jaidee" 
                                    id="lastname"
                                    formControlName="lastname"
                                    [ngClass]="{'is-invalid': customerFormItem('lastname').invalid && (customerFormItem('lastname').dirty || customerFormItem('lastname').touched)}"
                                    required>
                                <div class="invalid-feedback" *ngIf="customerFormItem('lastname').invalid && (customerFormItem('lastname').dirty || customerFormItem('lastname').touched)">
                                    <div *ngIf="customerFormItem('lastname').hasError('required')">กรุณากรอกนามสกุลให้ถูกต้อง</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 py-2">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <label class="mr-3" for="sex">เพศ</label>
                            </div>
                            <div class="col-9">
                                <select class="form-control" id="sex" formControlName="sex" [ngClass]="{'is-invalid': customerFormItem('sex').invalid && (customerFormItem('sex').dirty || customerFormItem('sex').touched)}" required>
                                    <option value="male">ชาย</option>
                                    <option value="female">หญิง</option>
                                </select>
                                <div class="invalid-feedback" *ngIf="customerFormItem('sex').invalid && (customerFormItem('sex').dirty || customerFormItem('sex').touched)">
                                    <div *ngIf="customerFormItem('sex').hasError('required')">กรุณาเลือกเพศ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <div class="row">
                            <div class="col-3">
                                <label class="mr-3" for="birthdate">วันเดือนปีเกิด</label>
                            </div>
                            <div class="col-9">
                                <input 
                                    type="date" 
                                    class="form-control" placeholder="01/06/2530" 
                                    id="birthdate"
                                    formControlName="birthdate"
                                    [ngClass]="{'is-invalid': customerFormItem('birthdate').invalid && (customerFormItem('birthdate').dirty || customerFormItem('birthdate').touched)}"
                                    required>
                                <div class="invalid-feedback" *ngIf="customerFormItem('birthdate').invalid && (customerFormItem('birthdate').dirty || customerFormItem('birthdate').touched)">
                                    <div *ngIf="customerFormItem('birthdate').hasError('required')">กรุณากรอกวันเดือนปีเกิด</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 py-2">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <label class="mr-3" for="phone">เบอร์มือถือ</label>
                            </div>
                            <div class="col-9">
                                <input 
                                    type="tel" 
                                    class="form-control" 
                                    id="phone" 
                                    formControlName="phone"
                                    placeholder="ex: 0812345678"
                                    [ngClass]="{'is-invalid': customerFormItem('phone').invalid && (customerFormItem('phone').dirty || customerFormItem('phone').touched)}"
                                    required>
                                <div class="invalid-feedback" *ngIf="customerFormItem('phone').invalid && (customerFormItem('phone').dirty || customerFormItem('phone').touched)">
                                    <div *ngIf="customerFormItem('phone').hasError('required')">กรุณากรอกเบอร์มือถือ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <div class="row">
                            <div class="col-3">
                                <label class="mr-3" for="email">อีเมล</label>
                            </div>
                            <div class="col-9">
                                <input 
                                    type="email" 
                                    class="form-control" 
                                    id="email" 
                                    formControlName="email"
                                    placeholder="ex: example@mail.com"
                                    [ngClass]="{'is-invalid': customerFormItem('email').invalid && (customerFormItem('email').dirty || customerFormItem('email').touched)}"
                                    required>
                                <div class="invalid-feedback" *ngIf="customerFormItem('email').invalid && (customerFormItem('email').dirty || customerFormItem('email').touched)">
                                    <div *ngIf="customerFormItem('email').hasError('required')">กรุณากรอกอีเมลให้ถูกต้อง</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 py-2">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <label class="mr-3" for="personalId">เลขบัตรประชาชน</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="personalId" maxlength="13" formControlName="personalId" [ngClass]="{'is-invalid': customerFormItem('personalId').invalid && (customerFormItem('personalId').dirty || customerFormItem('personalId').touched)}" required>
                                <div class="invalid-feedback" *ngIf="customerFormItem('personalId').invalid && (customerFormItem('personalId').dirty || customerFormItem('personalId').touched)">
                                    <div *ngIf="customerFormItem('personalId').hasError('required')">กรุณากรอกหมายเลขบัตรประชาชนให้ถูกต้อง</div>
                                    <div *ngIf="customerFormItem('personalId').hasError('maxlength')">หมายเลขบัตรประชาชนมี 13 หลัก</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 py-2">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <label class="mr-3" for="address">ที่อยู่</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="address" formControlName="address" [ngClass]="{'is-invalid': customerFormItem('address').invalid && (customerFormItem('address').dirty || customerFormItem('address').touched)}" required>
                                <div class="invalid-feedback" *ngIf="customerFormItem('address').invalid && (customerFormItem('address').dirty || customerFormItem('address').touched)">
                                    <div *ngIf="customerFormItem('address').hasError('required')">กรุณากรอกที่อยู่ปัจจุบัน</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <div class="row">
                            <div class="col-3">
                                <label class="mr-3" for="road">ถนน</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="road" formControlName="road" [ngClass]="{'is-invalid': customerFormItem('road').invalid && (customerFormItem('road').dirty || customerFormItem('road').touched)}" required>
                                <div class="invalid-feedback" *ngIf="customerFormItem('road').invalid && (customerFormItem('road').dirty || customerFormItem('road').touched)">
                                    <div *ngIf="customerFormItem('road').hasError('required')">กรุณากรอกถนน</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 py-2">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <label class="mr-3" for="province">จังหวัด</label>
                            </div>
                            <div class="col-9">
                                <select name="province" id="province" class="form-control" formControlName="province" [ngClass]="{'is-invalid': customerFormItem('province').invalid && (customerFormItem('province').dirty || customerFormItem('province').touched)}" required>
                                    <option value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
                                </select>
                                <div class="invalid-feedback" *ngIf="customerFormItem('province').invalid && (customerFormItem('province').dirty || customerFormItem('province').touched)">
                                    <div *ngIf="customerFormItem('province').hasError('required')">กรุณาเลือกจังหวัด</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <label class="mr-3" for="subdistrict">แขวง/ตำบล</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="subdistrict" formControlName="subdistrict" [ngClass]="{'is-invalid': customerFormItem('subdistrict').invalid && (customerFormItem('subdistrict').dirty || customerFormItem('subdistrict').touched)}" required>
                                <div class="invalid-feedback" *ngIf="customerFormItem('subdistrict').invalid && (customerFormItem('subdistrict').dirty || customerFormItem('subdistrict').touched)">
                                    <div *ngIf="customerFormItem('subdistrict').hasError('required')">กรุณากรอกแขวง/ตำบล</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 py-2">
                        <div class="row">
                            <div class="col-3">
                                <label class="mr-3" for="district">เขต/อำเภอ</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="district" formControlName="district" [ngClass]="{'is-invalid': customerFormItem('district').invalid && (customerFormItem('subdistrict').dirty || customerFormItem('subdistrict').touched)}" required>
                                <div class="invalid-feedback" *ngIf="customerFormItem('district').invalid && (customerFormItem('district').dirty || customerFormItem('district').touched)">
                                    <div *ngIf="customerFormItem('district').hasError('required')">กรุณากรอกเขต/อำเภอ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <div class="row">
                            <div class="col-3">
                                <label class="mr-3" for="postalCode">รหัสไปรษณีย์</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="postalCode" formControlName="postalCode" [ngClass]="{'is-invalid': customerFormItem('postalCode').invalid && (customerFormItem('postalCode').dirty || customerFormItem('postalCode').touched)}" required>
                                <div class="invalid-feedback" *ngIf="customerFormItem('postalCode').invalid && (customerFormItem('postalCode').dirty || customerFormItem('postalCode').touched)">
                                    <div *ngIf="customerFormItem('postalCode').hasError('required')">กรุณากรอกรหัสไปรษณีย์</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div formGroupName="billingAddress">
                <div class="my-3">
                    <h5 class="text-iwow-darkgreen">ข้อมูลที่อยู่สำหรับจัดส่งเอกสาร</h5>
                    <div class="form-check">
                        <label for="sameAddress" class="form-check-label">
                            <input type="checkbox" name="sameAddress" id="sameAddress" class="form-control-check"
                                (change)="isCheckUpdate($event)">
                            ที่อยู่เดียวกับบัตรประชาชน
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-6 py-2">
                            <div class="row align-items-center">
                                <div class="col-3">
                                    <label class="mr-3" for="billingRoad">ที่อยู่</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" class="form-control" name="billingAddress" id="billingAddress"
                                        formControlName="address" [readonly]="isSameAddess">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 py-2">
                            <div class="row">
                                <div class="col-3">
                                    <label class="mr-3" for="billingRoad">ถนน</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" class="form-control" name="billingRoad" id="billingRoad"
                                        formControlName="road" [readonly]="isSameAddess">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 py-2">
                            <div class="row align-items-center">
                                <div class="col-3">
                                    <label class="mr-3" for="billingProvince">จังหวัด</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" class="form-control" name="billingProvince" id="billingProvince"
                                        formControlName="province" [readonly]="isSameAddess">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 py-2">
                            <div class="row align-items-center">
                                <div class="col-3">
                                    <label class="mr-3" for="billingSubdistrict">แขวง/ตำบล</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" class="form-control" name="billingSubdistrict"
                                        id="billingSubdistrict" formControlName="subdistrict" [readonly]="isSameAddess">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 py-2">
                            <div class="row">
                                <div class="col-3">
                                    <label class="mr-3" for="billingDistrict">เขต/อำเภอ</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" class="form-control" name="billingDistrict" id="billingDistrict"
                                        formControlName="district" [readonly]="isSameAddess">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 py-2">
                            <div class="row">
                                <div class="col-3">
                                    <label class="mr-3" for="billingPostalCode">รหัสไปรษณีย์</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" class="form-control" name="billingPostalCode"
                                        id="billingPostalCode" formControlName="postalCode" [readonly]="isSameAddess">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <button class="btn btn-block btn-warning text-white"
                        disabled="disabled">ติดต่อเราให้กรอกข้อมูลให้</button>
                </div>
                <div class="col-6">
                    <!-- <a class="btn btn-block text-white btn-darkgreen" routerlink="/insurance/car-detail">ขั้นตอนถัดไป</a> -->
                    <!-- <button class="btn btn-block text-white btn-darkgreen" type="submit" [disabled]="customerForm.invalid">ขั้นตอนถัดไป</button> -->
                    <button class="btn btn-block text-white btn-darkgreen" data-toggle="modal" [attr.data-target]="!userData ? '#authModal':'#otpModal'" [disabled]="customerForm.invalid">ขั้นตอนถัดไป</button>
                    <!-- <button class="btn btn-block text-white btn-darkgreen" data-toggle="modal" [attr.data-target]="!userData ? '#authModal':'#otpModal'">ขั้นตอนถัดไป</button> -->
                </div>
            </div>
        </form>
        <div class="modal fade" id="otpModal" tabindex="-1" role="dialog" aria-labelledby="otpModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="text-center text-iwow-darkgreen">ยืนยันตัวตน</h3>
                        <p class="text-black">คุณจำเป็นต้องสมัครสมาชิก และยืนยันตัวตนด้วย OTP ก่อน ถึงจะสามารถทำการสั่งซื้อแผนประกันได้ หากคุณเป็นสมาชิกอยู่แล้วกรุณา <a href="#" class="iwow-link">เข้าสู่ระบบ</a></p>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="firstname">ชื่อ</label>
                                    <input type="text" class="form-control" name="firstname" [value]="firstname" [disabled]="isDisable ? '':'disabled'">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="lastname">นามสกุล</label>
                                    <input type="text" class="form-control" name="lastname" [value]="lastname" [disabled]="isDisable ? '':'disabled'">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email">อีเมล</label>
                                    <input type="text" class="form-control" name="email" [value]="customerFormItem('email').value" [disabled]="isDisable ? '':'disabled'">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="phone">หมายเลขโทรศัพท์</label>
                                    <input type="text" class="form-control" name="phone" [value]="customerFormItem('phone').value" [disabled]="isDisable ? '':'disabled'">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="otpInput">รหัส OTP</label>
                                    <input type="text" class="form-control" name="otpInput" (change)="otpChange($event)" [disabled]="isDisable ? 'disabled':''">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <ng-container *ngIf="isDisable; else elseTemplate">
                                <button class="btn btn-darkgreen text-white" (click)="isDisable = !isDisable">ขอรหัส OTP</button>
                            </ng-container>
                            <ng-template #elseTemplate>
                                <button class="btn btn-darkgreen text-white" (click)="checkOTP()">ยืนยันตัวตน</button>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>