<!-- <app-campaign-card-list></app-campaign-card-list> -->
<!-- About us -->
<div class="container-fluid" style="background-color: #F4F6F8">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 col-12">
                <!-- text -->
                <img src="../../../assets/images/iwowlogo.svg" alt="logo" style="width: 20%; padding-bottom: 15px">
                <!-- <p class="text-black"><span class="text-iwow-darkgreen">“ไอ วาว”</span> คือแพลทฟอร์มอินชัวร์เทคแห่งแรกของประเทศไทยที่เน้นกลุ่มเป้าหมายยังที่<span class="text-iwow-darkgreen">คนรักกีฬา</span> โดยการร่วมมือของบริษัท</p>
                <p class="text-black">IMG Broker <span class="text-iwow-pink">x</span> Siamsport syndicate <span class="text-iwow-pink">x</span> Golf Channel Thailand อย่างเป็นทางการ</p>
                <p class="text-black">เรานำเสนอแพลทฟอร์มเทียบแผนประกันภัยโดยการรวบรวมเทคโนโลยีที่ทันสมัยมาใช้เพื่อตอบสนองลูกค้าได้ใช้บริการออนไลน์ที่ง่าย สะดวก รวดเร็ว และปลอดภัยในทุกขั้นตอน</p>
                <p class="text-black">ดำเนินธุรกิจภายใต้ <span class="text-iwow-darkgreen">บริษัท ไอ เอ็ม จี โบรกเกอร์ จำกัด</span> ก่อตั้งธุรกิจกว่า 10 ปี ถือใบอนุญาตเป็นนายหน้าประกันวินาศภัย ทะเบียนเลขที่ ว00020/2550 ภายใต้การกำกับของ คปภ. อย่างถูกต้อง</p> -->
                <p class="text-iwow-darkgreen">“ไอ วาว” คือแพลทฟอร์มอินชัวร์เทคแห่งแรกของประเทศไทยที่เน้นกลุ่มเป้าหมายยังที่คนรักกีฬา ดำเนินธุรกิจภายใต้ บริษัท ไอ เอ็ม จี โบรกเกอร์ จำกัด ก่อตั้งธุรกิจกว่า 10 ปี ถือใบอนุญาตเป็นนายหน้าประกันวินาศภัย ทะเบียนเลขที่ ว00020/2550 ภายใต้การกำกับของ คปภ. อย่างถูกต้อง</p>
                <p class="text-iwow-darkgreen">เรานำเสนอแพลทฟอร์มเทียบแผนประกันภัยโดยการรวบรวมเทคโนโลยีที่ทันสมัยมาใช้เพื่อตอบสนองลูกค้าได้ใช้บริการออนไลน์ที่ง่าย สะดวก รวดเร็ว และปลอดภัยในทุกขั้นตอน</p>

            </div>
            <div class="col-md-6 col-12">
                <img src="../../../assets/images/iWOWBanner.svg" alt="banner" style="width: auto;">
            </div>
        </div>
    </div>
</div>
<!-- Why -->
<div class="container-fluid" style="background-color: white;">
    <div class="container py-5">
        <h1 class="text-center logo pb-3">ทำไมต้อง <img src="../../../assets/images/iwowlogo.svg" alt="logo" style="width: 10%"></h1>
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <img src="../../../assets/images/ticket.svg" alt="ticket" style="width: 30%; padding-bottom: 30px">
                    <h3 class="text-center text-iwow-darkgreen">
                        ซื้อง่าย จ่ายสะดวก <br>
                        มีช่องทางการจ่ายเงิน <br>
                        ที่หลากหลาย
                    </h3>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <img src="../../../assets/images/hand.svg" alt="hand" style="width: 33%; padding-bottom: 30px">
                    <h3 class="text-center text-iwow-darkgreen">
                        มีพาร์ทเนอร์อย่างเป็นทาง <br>
                        การกับบริษัทฯ ประกันภัย <br>
                        หลายบริษัท
                    </h3>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <img src="../../../assets/images/rate.svg" alt="rate" style="width: 30%; padding-bottom: 30px">
                    <h3 class="text-center text-iwow-darkgreen">
                        เลือกบริษัทประกันภัย <br>
                        ชั้นนำเพื่อสนองการบริการ <br>
                        ให้ประทับใจ
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partner -->
<div class="container py-3" style="background-color: #F4F6F8">
    <div class="d-flex flex-md-row flex-sm-column justify-content-between align-items center">
        <img src="../../../assets/images/insurances/AZAY.png" alt="azay" style="width: 8%">
        <img src="../../../assets/images/insurances/MTI.png" alt="mti" style="width: 8%">
        <img src="../../../assets/images/insurances/Safety.png" alt="safety" style="width: 8%">
        <img src="../../../assets/images/insurances/tww.svg" alt="tww" style="width: 8%">
        <img src="../../../assets/images/insurances/SE.png" alt="se" style="width: 8%">
    </div>
</div>