<div class="container" style="padding: 80px 0;">
    <div class="d-flex flex-column justify-content-center align-items-start">
        <div class="py-2">
            <h1 class="text-iwow-darkgreen">นโยบายความเป็นส่วนตัว</h1>
        </div>
        <div class="py-2">
            <h3 class="text-iwow-darkgreen">คำนิยาม</h3>
            <p class="text-black">
                บริษัท หมายถึง บริษัท ไอ เอ็ม จี โบรกเกอร์ จำกัด
            </p>
            <p class="text-black">
                นโยบายความเป็นส่วนตัวฉบับนี้ เป็นการกำหนดวิธีการที่บริษัทจะจัดเก็บ ข้อมูล นำมาใช้ การเปิดเผยข้อมูลส่วนบุคคล 
                และการคุ้มครองข้อมูลส่วนบุคคลของท่าน โดยเป็นไปตาม พระราชบัญญัติคอมพิวเตอร์และกฎหมายว่าด้วยการคุ้มครองส่วนบุคคลที่เกี่ยวข้องในประเทศไทย
            </p>
            <p class="text-black">
                บริษัทมีนโยบายที่จะทำให้ท่านที่กำลังค้นหาและซื้อผลิตภัณฑ์ทางการเงินและประกันภัย สามารถเข้าถึงโดยง่ายและสามารถเลือกและซื้อผลิตภัณฑ์ประกันภัยได้อย่างรวดเร็ว 
                บริษัทจึงมีความจำเป็นที่จะต้องจัดเก็บ รวบรวมข้อมูล และใช้ข้อมูลส่วนบุคคลที่จำเป็นเพื่อระบุตัวบุคคล
            </p>
        </div>
        <div class="py-2">
            <h3 class="text-iwow-darkgreen">การยอมรับนโยบาย</h3>
            <p class="text-black">
                การยอมรับนโยบายการใช้เว็บไซต์และบริการของบริษัทเป็นความสมัครใจทั้งหมด การที่ท่านเข้ามาที่เว็บไซต์นี้ไม่ว่าด้วยวิธีใดๆ ถือว่าท่านยอมรับนโยบายของเราทันที 
                และตกลงยินยอมโดยชัดแจ้งว่า บริษัทสามารถจะจัดเก็บและใช้ข้อมูลส่วนบุคคลของท่าน 
                ตลอดจนอนุญาตให้บริษัทเปิดเผยและส่งต่อข้อมูลส่วนบุคคลของท่านได้ตามนโยบายความเป็นส่วนตัวว่าด้วยการเก็บรักษาข้อมูลส่วนบุคคลฉบับนี้
            </p>
        </div>
        <div class="py-2">
            <h3 class="text-iwow-darkgreen">การเปิดเผยข้อมูลส่วนบุคคล</h3>
            <p class="text-black">
                บริษัทอาจจำเป็นต้องแบ่งปันข้อมูลส่วนบุคคลของท่านกับตัวแทนหรือผู้ให้บริการบางรายที่ให้ความช่วยเหลือแก่บริษัทหรือที่บริษัทใช้เพื่อทำให้เว็บไซต์เกิดประสิทธิผลสูงสุด 
                ซึ่งบริษัทจะแบ่งปันข้อมูลส่วนบุคคลของท่านกับบุคคลภายนอกดังกล่าวเพียงเท่าที่มีความจำเป็นเพื่อการดำเนินการให้บริการและทำงานของบุคคลดังกล่าวเท่านั้น
            </p>
        </div>
        <div class="py-2">
            <h3 class="text-iwow-darkgreen">สิทธิในการควบคุม จัดการข้อมูลส่วนบุคคลของท่าน</h3>
            <p class="text-black">
                ท่านมีสิทธิ ควบคุม จัดการ ข้อมูลส่วนบุคคลของท่านได้ โดยท่านมีสิทธิที่จะเพิกถอนความยินยอมที่ให้ไว้เพื่อการใช้หรือการเปิดเผยข้อมูลส่วนบุคคลของท่าน 
                และท่านสามารถเข้าถึงข้อมูลส่วนบุคคล สอบถามบริษัทเกี่ยวกับวิธีที่มีการใช้หรือเปิดเผยข้อมูลส่วนบุคคลของท่านได้ ตลอดจนท่านมีสิทธิที่จะปรับปรุงข้อมูลส่วนบุคคลของท่านให้ทันสมัย 
                หรือแก้ไขให้ถูกต้องได้ โดยการติดต่อบริษัทโดยตรง
            </p>
        </div>
        <div class="py-2">
            <h3 class="text-iwow-darkgreen">การคุ้มครองข้อมูลส่วนบุคคลเป็นเรื่องสำคัญ</h3>
            <p class="text-black">
                บริษัทให้ความสำคัญต่อการคุ้มครองข้อมูลส่วนบุคคลของท่านจากการที่บุคคลอื่นเข้าถึงโดยไม่ได้รับอนุญาต 
                ซึ่งบริษัทจะจัดเตรียมการรักษาความปลอดภัยตามสมควรเพื่อป้องกันการใช้การจัดเก็บการเปิดเผยหรือการทำสำเนาข้อมูลส่วนบุคคลของท่านที่ไม่ได้รับอนุญาต
            </p>
        </div>
        <div class="py-2">
            <h3 class="text-iwow-darkgreen">การเปลี่ยนแปลงนโยบายความเป็นส่วนตัว</h3>
            <p class="text-black">
                บริษัทสามารถเปลี่ยนแปลง แก้ไขนโยบายความเป็นส่วนตัว เพื่อให้สอดคล้องกับช่วงเวลาและนโยบายของบริษัท
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="py-2">
            <a [routerLink]="['/']" class="btn btn-lightgreen">กลับหน้าหลัก</a>
        </div>
    </div>
</div>
