<div class="container" style="padding: 80px 0;">
    <div class="d-flex flex-column justify-content-center align-items-start">
        <div class="py-2">
            <h1 class="text-iwow-darkgreen">ข้อกำหนดและเงื่อนไข</h1>
        </div>
        <div class="py-2">
            <p class="text-black">
                บริษัท ไอ เอ็ม จี โบรกเกอร์ จำกัด (“บริษัทฯ”) เป็นผู้ให้บริการเว็บไซต์นี้ โดยมีเงื่อนไขว่าท่านที่เข้าชม เข้าถึง เข้าใช้ หรือข้อมูลใดๆ จากเว็บไซต์ของบริษัทฯ 
                หมายถึงเว็บไซต์ www.iwowthailand.com นั้น ถือว่าท่านยอมรับข้อกำหนดเงื่อนไขนี้ และตกลงผูกพันตามข้อกำหนดและเงื่อนไข เพราะฉะนั้นท่านโปรดอ่านข้อกำหนดและเงื่อนไขเหล่านี้ 
                รวมถึงนโยบายความเป็นส่วนตัวโดยท่านควรจะอ่านอย่างละเอียดทั้งหมด หากท่านไม่มีความประสงค์จะยอมรับข้อกำหนดและเงื่อนไขเหล่านี้ บริษัทฯขอให้ท่านยุติการใช้เว็บไซต์นี้ทันที
            </p>
        </div>
        <div class="py-2">
            <h3 class="text-iwow-darkgreen">ขั้นตอนการทำงานผ่านเว็บไซต์</h3>
            <p class="text-black">
                เว็บไซต์นี้ของบริษัทฯมีขึ้นเพื่อเป็นเว็บไซต์ที่สามารถซื้อและเปรียบเทียบราคาผลิตภัณฑ์ประกันภัยที่มีหลากหลายในประเทศไทยที่เสนอขายต่อลูกค้าในประเทศไทย โดยบริษัทมีการทำงานร่วมกับ
                บริษัทประกันภัยในประเทศไทยซึ่งจัดหาข้อมูลของผลิตภัณฑ์ ราคา และข้อมูลอื่นใดที่เกี่ยวข้องกับผลิตภัณฑ์ประกันภัยของบริษัทนั้นให้แก่บริษัทฯเพื่อที่จะดำเนินการซื้อหรือเปรียบเทียบราคา
                อย่างไรก็ตามบริษัทฯอาจจะไม่ได้เปรียบเทียบราคาของผู้รับประกันภัยทุกรายที่ดำเนินกิจการในประเทศไทยเพราะมีบริษัทประกันภัยหรือตัวกลางคนกลางประกันที่ไม่ได้เชื่อมต่อกับบริษัท
                จึงทำให้บริษัทไม่สามารถที่จะรวบรวมบริษัทเหล่านั้นไว้ในการเปรียบเทียบราคาของบริษัทได้ ท่านจึงไม่สามารถหาผลิตภัณฑ์ของบริษัทเหล่านั้นได้ในเว็บไซต์ของบริษัท
            </p>
            <p class="text-black">
                อย่างไรก็ตามบริษัทฯอาจจะไม่ได้เปรียบเทียบราคาของผู้รับประกันภัยทุกรายที่ดำเนินกิจการในประเทศไทยเพราะมีบริษัทประกันภัยหรือตัวกลางคนกลางประกันที่ไม่ได้เชื่อมต่อกับบริษัท 
                จึงทำให้บริษัทไม่สามารถที่จะรวบรวมบริษัทเหล่านั้นไว้ในการเปรียบเทียบราคาของบริษัทได้ ท่านจึงไม่สามารถหาผลิตภัณฑ์ของบริษัทเหล่านั้นได้ในเว็บไซต์ของบริษัท
            </p>
        </div>
        <div class="py-2">
            <h3 class="text-iwow-darkgreen">ข้อมูลส่วนบุคคลและความเป็นส่วนตัว</h3>
            <p class="text-black">
                นโยบายความเป็นส่วนตัวของบริษัท ถือเป็นส่วนหนึ่งของข้อกำหนดและเงื่อนไขนี้ด้วย การที่ท่านใช้งานเว็บไซต์ของบริษัทถือว่าท่านได้ยอมรับว่าข้อมูลส่วนบุคคลที่ท่านให้บริษัทมานั้นจะนำมาใช้บนข้อตกลงการใช้งานนี้ด้วย
            </p>
        </div>
        <div class="py-2">
            <h3 class="text-iwow-darkgreen">กฎหมายและการระงับข้อพิพาท</h3>
            <p class="text-black">
                ข้อกำหนดและเงื่อนไขนี้ อยู่ภายใต้บังคับกฎหมายของประเทศไทย หากเกิดข้อพิพาทขึ้น บริษัทฯและคู่กรณีทุกฝ่ายต้องเสนอข้อพิพาทหรือสิทธิเรียกร้องต่อศาลที่มีเขตอำนาจในประเทศไทยเท่านั้น
            </p>
        </div>
        <div class="py-2">
            <h3 class="text-iwow-darkgreen">การเปลี่ยนแปลงข้อกำหนดและเงื่อนไข</h3>
            <p class="text-black">
                บริษัทฯ ขอสงวนสิทธิ์ในการเปลี่ยนแปลง แก้ไขข้อกำหนดและเงื่อนไขได้ เพื่อให้สอดคล้องกับนโยบายของบริษัทฯ หากท่านไม่มีความประสงค์จะยอมรับข้อกำหนดและเงื่อนไขเหล่านี้ บริษัทฯขอให้ท่านยุติการใช้เว็บไซต์นี้ทันที
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="py-2">
            <a [routerLink]="['/']" class="btn btn-lightgreen">กลับหน้าหลัก</a>
        </div>
    </div>
</div>
