<div class="card">
    <img [src]="props.image" [alt]="props.name" class="card-img-top">
    <div class="card-body bg-darkgreen">
        <h5 class="card-title text-center text-white text-truncate">{{ props.name }}</h5>
    </div>
</div>