<div class="container" style="padding: 80px 0;">
    <div class="d-flex flex-column justify-content-center align-items-start">
        <div class="py-2">
            <h1 class="text-iwow-darkgreen">นโยบายการคืนเงิน</h1>
        </div>
        <div class="py-2">
            <p class="text-black">
                หากลูกค้าประสงค์ยกเลิกประกันภัยกรณีกรมธรรม์ยังไม่เริ่มคุ้มครอง สามารถแจ้งความจำนงค์ขอรับเงินค่าเบี้ยคืน โดยจะได้รับเงินคืน 
                หลังหักค่าธรรมเนียมธนาคาร (หากมี) และค่าดำเนินการของบริษัท ขั้นต่ำ 500 บาท ขึ้นไป
            </p>
            <p class="text-black">
                หากลูกค้าประสงค์ยกเลิกหลังจากที่กรมธรรม์เริ่มคุ้มครองไปแล้ว จะได้รับเงินคืนตามสัดส่วนอัตราการคืนเบี้ยประกันภัยรถยนต์
            </p>
        </div>
        <div class="py-2">
            <p class="text-black">
                หมายเหตุ: เงื่อนไขอื่นๆ เป็นไปตามที่บริษัทฯ กำหนด
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="py-2">
            <a [routerLink]="['/']" class="btn btn-lightgreen">กลับหน้าหลัก</a>
        </div>
    </div>
</div>
