<div class="container" style="padding: 80px">
    <div class="card my-5">
        <div class="card-body">
            <div class="media mx-5 d-flex justify-content-center align-items-center">
                <img [src]="insurance.company[0].imgUrl" class="mr-3 insurance-logo" alt="logo">
                <div class="media-body">
                    <h2>คุณเลือกประกันของ <span class="text-iwow-darkgreen">{{ insurance.company[0].name }}</span> ประเภท <span
                            class="text-iwow-darkgreen">{{ insurance.policyType }}</span> ราคา <span class="text-iwow-darkgreen">{{ insurance.netPrice | number: '1.0-0' }}</span>
                        บาท</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="my-5">
        <router-outlet></router-outlet>
    </div>
</div>