<div class="campaign-slide-section container py-3" style="background-color: white;">
    <h1 class="text-center text-iwow-pink">บทความแนะนำ</h1>
    <div class="d-flex justify-content-center align-items-center flex-wrap">
        <app-card-campaign [props]="item" [index]="i" *ngFor="let item of campaign_data; let i = index"></app-card-campaign>
    </div>
    <!-- <div class="slider-wrapper">
        <div class="card-slider">
            <app-card-campaign [props]="item" *ngFor="let item of campaign_data"></app-card-campaign>
        </div>
    </div> -->
</div>

<!-- <div class="campaign-slide-section container">
    <h1 class="text-center text-iwow-pink">แคมเปญขายดี</h1>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner row no-gutters w-100 mx-auto">
            <div class="card-deck carousel-item col-md-4" [ngClass]="{ 'active': i === 0 }" *ngFor="let item of campaign_data; let i = index">
                <app-card-campaign [props]="item"></app-card-campaign>      
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mt-4">
                    <a class="btn btn-outline-secondary mx-1 prev" title="Previous">
                        <i class="fa fa-lg fa-chevron-left"></i>
                    </a>
                    <a class="btn btn-outline-secondary mx-1 next" title="Next">
                        <i class="fa fa-lg fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->