<div class="container" style="padding: 80px 0;">
    <div class="d-flex flex-column justify-content-center align-items-start">
        <div class="py-2">
            <h1 class="text-iwow-darkgreen">ข้อตกลงและเงื่อนไข</h1>
            <h3 class="text-black">ความคุ้มครองเริ่มต้นทันทีหลังจากชำระเงินเสร็จสิ้นภายในเวลาทำการของเรา</h3>
        </div>
        <div class="py-2">
            <h3 class="text-iwow-darkgreen">นโยบายการยกเลิก</h3>
            <ol class="text-black">
                <li>กรมธรรม์หมดอายุความคุ้มครองตามที่ระบุในเอกสารกรรมธรรม์ โดยกรมธรรม์จะเป็นรายปีและจะหมดอายุภายใน 1 ปีนับจากวันที่กรมธรรม์เริ่มมีผลคุ้มครอง</li>
                <li>กรณียกเลิกนโยบายกรมธรรม์ประกันโดยบริษัทฯ ประกันภัย ซึ่งจะมีการแจ้งลูกค้าล่วงหน้าอย่างน้อย 30 วัน โดยส่งจดหมายแจ้งเตือนไปยังที่อยู่ล่าสุดที่ลูกค้าแจ้งไว้กับบริษัทฯประกันภัย</li>
                <li>โดยบริษัทประกันภัย สามารถบอกเลิกการคุ้มครองได้ล่วงหน้าในระยะเวลาไม่น้อยกว่า 30 วันโดยส่งเอกสารทางไปรษณีย์ลงทะเบียนถึงผู้เอาประกันภัยตามที่อยู่ล่าสุดที่แจ้งบริษัทฯไว้ 
                    มีผลให้กรมธรรม์สิ้นสุดความคุ้มครองในวันที่ 31 จากวันที่ได้แจ้ง และบริษัทจะคืนเบี้ยประกันภัยให้ผู้เอาประกันภัยตามสัดส่วนที่กำหนดไว้ในตาราง 
                    ซึ่งสาเหตุที่บริษัทแจ้งยกเลิกมักเกิดจากการตรวจสอบพบว่ามีการแต่งหรือเพิ่มอุปกรณ์ตกแต่งในภายหลังจากที่แจ้งไว้ หรือมีการใช้งานรถผิดประเภท 
                    การใช้พาหนะที่จดทะเบียนส่วนบุคคลไปใช้งานเชิงพาณิชย์
                </li>
                <li>การแจ้งยกเลิกโดยลูกค้า (สำหรับประกันภาคสมัครใจ บริษัทขอสงวนสิทธิ์ในการยกเลิก พ.ร.บ.รถยนต์ และ พ.ร.บ.จักรยานยนต์) การแจ้งยกเลิกจากลูกค้าไม่ว่าด้วยเหตุผลใดๆก็ตาม
                    จำเป็นต้องแจ้งเป็นลายลักษ์อักษรรวมถึงระบุวันที่ท่านประสงค์จะสิ้นสุดความคุ้มครองให้ชัดเจน กับทางบริษัทประกันภัยของท่าน รวมถึงแนบบัตรประชาชนหรือพาสปอร์ตที่ถูกต้อง 
                    ลูกค้าจะถูกหักเงินคืนตามจำนวนวันที่ลูกค้าได้รับความคุ้มครองไปแล้วและถูกหักค่าดำเนินการตามจริงจากทางบริษัท
                    <p>ลูกค้าสามารถยกเลิกกรรมธรรม์ได้ในกรณีดังต่อไปนี้</p>
                    <ul class="my-3">
                        <li>ในกรณีขายรถยนต์หรือจักรยานยนต์</li>
                        <li>ในกรณีที่บริษัทรีไฟแนนซ์ต้องการให้ลูกค้าทำประกันกับบริษัทที่ไฟแนนซ์กำหนด</li>
                        <li>ในกรณีที่ลูกค้าต้องการเปลี่ยนแปลงข้อมูลที่มีผลกระทบต่อเบี้ยประกันภัย เช่น ค่าเสียหายส่วนแรก, การระบุผู้ขับขี่, วงเงินความคุ้มครอง, แพ๊คเกจ, ประเภทกรมธรรม์ และอื่นๆ</li>
                    </ul>
                    <p>ลูกค้าจะได้รับเงินภายใน 15 วันหลังจากการแจ้งยกเลิกสำเร็จ ระยะเวลาขึ้นอยู่กับช่องทางการคืนเงิน โดยเงื่อนไขของการคืนเงินจะขึ้นอยู่กับช่องทางการชำระเงินที่ลูกค้าเลือก</p>
                    <p>การคืนเบี้ยประกันจะคำนวณตามตารางอัตราคืนเบี้ยประกันภัยด้านล่างรวมถึงการคืนเงินเต็มจำนวนหลังการซื้อภายใน 15 วัน</p>
                    <p>การคืนเบี้ยประกันภัย กรณียกเลิกภายใน 15 วันขึ้นอยู่กับช่องทางการชำระเงินของลูกค้าและการคำนวนค่าใช้จ่ายที่เกิดขึ้้นตามกรรมธรรย์ที่ลูกค้าเลือก</p>
                    <p>
                        ในกรณีที่มีการแจ้งเคลมก่อนการแจ้งยกเลิกความคุ้มครองของกรมธรรม์ประกันรถยนต์ ทางบริษัทประกันภัยขอสงวนสิทธิในใช้เวลาทบทวนคำร้องขอคืนเงิน 
                        ตามข้อมูลความสูญเสียก่อนที่จะอนุมัติและทำการคืนเงิน
                    </p>
                    <p>การจ่ายคืนเบี้ยประกันขึ้นอยู่กับรอบการจ่ายเงินของบริษัท ไอ เอ็ม จี โบรกเกอร์ (ไทยแลนด์) จำกัด</p>
                    <p>บริษัทฯขอสงวนสิทธิในการหักค่าธรรมเนียม ดอกเบี้ยในกรณีการผ่อนชำระ และ ค่าใช้จ่ายอื่นๆ รวมถึงมูลค่าของแถมที่ลูกค้าได้รับก่อนดำเนินการคืนเงิน</p>
                </li>
            </ol>
        </div>
        <div class="py-2">
            <h3 class="text-iwow-darkgreen">ข้อยกเว้นการประกันภัย</h3>
            <ol class="text-black">
                <li>
                    <p>ข้อยกเว้นกรณีทั่วไป</p>
                    <p>หากเกิดเหตุดังกล่าว กรมธรรม์ประกันภัยนี้ไม่คุ้มครองความเสียหายหรือความรับผิดอันเกิดขึ้น ไม่ว่าจะเป็นความเสียหายหรือความสูญเสียที่เกิดขึ้นทั้งทางตรงและทางอ้อมของเหตุการณ์ต่อไปนี้</p>
                    <ul class="my-3">
                        <li>ความเสียหายที่เกิดขึ้นจากสงคราม การสู้รบ รวมถึง สถานการณ์ที่มีลักษณะคล้ายคลึงกับการทำสงคราม โดยไม่คำนึงถึงว่ามีการประกาศสงครามเกิดขึ้นหรือไม่</li>
                        <li>ความเสียหายที่เกิดขึ้นจากสงครามกลางเมือง การก่อกบฎ การปฏิวัติ รัฐประหารเพื่อต่อต้านรัฐบาล การยึดอำนาจการปกครอง หรือ สถานการณ์ความไม่สงบที่เกิดขึ้นจากมวลชน</li>
                        <li>ผลกระทบจากระเบิดนิวเคลียร์</li>
                        <li>ความเสียหายที่เกิดจากระเบิดนิวเคลียร์ เช่น แรงระเบิด, การเผาไหม้ที่เกิดจากแรงระเบิด,กัมมันตภาพรังสี หรือ กากปรมาณูอันเกิดจากการระเบิด</li>
                    </ul>
                </li>
                <li>
                    <p>ข้อยกเว้นสำหรับความเสียหายที่เกิดขึ้นกับบุคคลที่สาม</p>
                    <p>บริษัทฯ ประกันภัยจะไม่รับผิดชอบต่อความสูญเสียหรือความเสียหายใด ๆ ที่เกิดขึ้นแก่บุคคลที่สามในกรณี ดังต่อไปนี้</p>
                    <ul class="my-3">
                        <li>การขับขี่นอกอาณาเขตคุ้มครองประเทศไทย</li>
                        <li>การใช้ในทางผิดกฏหมาย เช่น ใช้รถยนต์ปล้นทรัพย์ ชิงทรัพย์ โจรกรรม หรือ ขนส่งสิ่งเสพติด เป็นต้น</li>
                        <li>การใช้เพื่อการแข่งขัน</li>
                        <li>การใช้ลากจูง หรือดึงรถคันอื่น เว้นเสียแต่ว่ารถที่ถูกลากจูงมีกรมธรรย์ประกันภัยกับบริษัทฯ ประกันภัยแห่งเดียวกัน</li>
                        <li>การเซ็นต์สัญญายินยอม หรือ แสดงความยอมรับผิดก่อนที่ ตัวแทนจากทางบริษัทประกันได้ทำการตรวจสอบเหตุการณ์ที่เกิดขึ้น</li>
                        <li>การขับขี่ในขณะที่มีอาการเมาสุราหรือสารเสพติด ยกเว้นกรณีมีปริมาณแอลกอฮอล์ในเส้นเลือดไม่เกิน 50 มิลลิกรัม% ตามที่กฏหมายกำหนด</li>
                    </ul>
                </li>
                <li>iWOW ไม่มีส่วนรับผิดชอบในการพิจารณาการออกกรมธรรม์ของลูกค้าจากบริษัทประกันภัย และการเคลมค่าสินไหมทดแทนจะถือเป็นสิทธิ์ขาดของบริษัทที่รับประกันภัย</li>
                <li>iWOW จะไม่มีส่วนรับผิดชอบในข้อผิดพลาดจากการกรอกข้อมูลออนไลน์ หรือให้ข้อมูลกรมธรรม์ที่ผิดพลาดที่เกิดจากลูกค้าเอง</li>
            </ol>
        </div>
        <div class="py-2">
            <h3 class="text-iwow-darkgreen">ข้อกำหนดและเงื่อนของใบเสนอค่าเบี้ยประกัน</h3>
            <ul class="text-black">
                <li>
                    ใบเสนอราคาค่าเบี้ยประกันมีอายุ 30 วันนับจากวันที่ iWOW ออกใบเสนอราคาให้กับลูกค้า หรือ เป็นไปตามเงื่อนไขของโปรโมชั่นของบริษัท 
                    หากลูกค้าไม่สามารถชำระเงินภายในจำนวนวันดังกล่าวไปแล้ว ทางบริษัทจะไม่รับผิดชอบใดๆ ต่อการเปลี่ยนแปลงของราคาเบี้ยประกัน และสิทธิประโยชน์ที่ระบุไว้ในใบเสนอราคา
                </li>
                <li>การต่อพ.ร.บ. รถยนต์ และพ.ร.บ รถจักรยานยนต์กับ iWOW จำกัดเฉพาะส่วนบุคคลเท่านั้น iWOW ไม่มีบริการรับต่อ พ.ร.บ. รถรับจ้าง หรือรถเพื่อทำการพาณิชย์.</li>
            </ul>
        </div>
        <div class="py-2">
            <h3 class="text-iwow-darkgreen">ข้อความปฏิเสธความรับผิดชอบ</h3>
            <ul class="text-black">
                <li>โปรดศึกษา อ่าน และทำความเข้าใจ รายละเอียดกรมธรรม์ประกันภัยก่อนชำระเงิน</li>
                <li>ในกรณีการซื้อจากการแนะนำจากลูกค้าหรือพาร์ทเนอร์ ให้ถือการตัดสินของบริษัทเป็นที่สิ้นสุด</li>
                <li>iWOW ไม่มีส่วนรับผิดชอบในการพิจารณาการออกกรมธรรม์ของลูกค้าจากบริษัทประกันภัย และการเคลมค่าสินไหมทดแทนจะถือเป็นสิทธิ์ขาดของบริษัทที่รับประกันภัย</li>
                <li>iWOW จะไม่มีส่วนรับผิดชอบในข้อผิดพลาดจากการกรอกข้อมูลออนไลน์ หรือให้ข้อมูลกรมธรรม์ที่ผิดพลาดที่เกิดจากลูกค้าเอง</li>
            </ul>
        </div>
        <div class="py-2">
            <h3 class="text-iwow-darkgreen">เงื่อนไขและข้อตกลงของการส่งเสริมการขาย</h3>
            <ul class="text-black">
                <li>iWOW ขอสงวนสิทธิ์ในการเปลี่ยนแปลงและแก้ไขรายการส่งเสริมการขายจากพาร์ทเนอร์ โดยไม่ต้องแจ้งให้ทราบล่วงหน้า</li>
                <li>รายการส่งเสริมการขายโดย iWOW จะขึ้นอยู่กับการเลือกวิธีการชำระเงินของลูกค้า และสามารถเปลี่ยนแปลงตามวิธีการชำระเงินที่ลูกค้าเลือก</li>
                <li>รายการส่งเสริมการขายทั้งหมดมีวันหมดอายุและไม่สามารถนำมาใช้ได้เมื่อเลยวันหมดอายุ</li>
                <li>เมื่อต้องการใช้สิทธิในการส่งเสริมการขาย ลูกค้าต้องแสดงหลักฐานตามที่เงื่อนไขของบริษัท และต้องปฏิบัติตามข้อกำหนดของรายการส่งเสริมการขายนั้นๆ หากไม่สามารถปฏิบัติตามได้ บริษัทขอสงวนสิทธิ์ในการยกเลิกส่วนลด หรือ สิทธิพิเศษดังกล่าว</li>
                <li>ลูกค้าต้องแจ้งสิทธิ์หรือรายการส่งเสริมการขายที่ต้องการใช้ให้เจ้าหน้าที่ทราบก่อนการซื้อกรมธรรม์ทุกครั้ง ลูกค้าไม่สามารถขอใช้สิทธิ์หลังจากซื้อกรมธรรม์แล้ว</li>
            </ul>
        </div>
        <div class="py-2">
            <h3 class="text-iwow-darkgreen">เงื่อนไขและข้อตกลงของการจัดส่งกรมธรรม์ออนไลน์</h3>
            <ul class="text-black">
                <li>การจัดส่งเอกสาร กรมธรรม์ พ.ร.บฉบับจริง จะใช้เวลาภายในประมาณ 15 วันทำการ ขึ้นอยู่กับพื้นที่จัดส่ง วิธีการจัดส่ง รวมถึงสภาพอากาศขณะนั้น</li>
                <li>บริษัทขอสงวนสิทธิ์ ในการเลือกช่องทางจัดส่งเอกสารให้ลูกค้าตามความเหมาะสม</li>
            </ul>
        </div>
        <div class="py-2">
            <h3 class="text-iwow-darkgreen">เงื่อนไข และข้อตกลงของการให้ส่วนลด ของแถมและของสมนาคุณ</h3>
            <ul class="text-black">
                <li>iWOW ยินดีเป็นอย่างยิ่งที่ได้ที่ได้มอบของสมนาคุณหรือของแถมให้กับลูกค้าตามเงื่อนไขส่งเสริมการขายที่จัดขึ้น</li>
                <li>ของสมนาคุณหรือของแถมที่มอบให้กับลูกค้าอาจเกิดความล่าช้าในบางกรณี ลูกค้าสามารถติดตามได้ที่เจ้าหน้าที่ฝ่ายขายหรือฝ่ายบริการลูกค้า</li>
                <li>iWOW ขอสงวนสิทธิ์ในการเปลี่ยนแปลงของสมนาคุณหรือของแถมให้กับลูกค้า โดยการมอบรางวัลที่มีมูลค่าเท่าเทียมกัน ในกรณีที่ไม่สามารถจัดหาของขวัญตามที่ตกลงกับลูกค้าไว้ได้</li>
                <li>ส่วนลด ของแถมและของสมนาคุณ ไม่สามารถแลกเปลี่ยนเป็นเงินสดได้ในทุกกรณี</li>
            </ul>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="py-2">
            <a [routerLink]="['/']" class="btn btn-lightgreen">กลับหน้าหลัก</a>
        </div>
    </div>
</div>
