<div class="header-iwow-transparent navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-44 col-md-6 col-sm-12 col-12 d-flex justify-content-center justify-content-sm-start align-items-center">
                <div class="text-center text-sm-start">
                    <a [routerLink]="[ '/home' ]"><img style="max-width: 70%;" src="assets/images/iwowlogo.svg" alt="iwow"></a>
                </div>
                <div class="logo text-sm-start">
                    <img src="assets/images/insurances/img_logo.png" alt="lmg">
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-12">
                <ng-container *ngIf="!user; else haveUser">
                    <div class="d-flex justify-content-end align-items-center">
                        <button class="btn btn-lightgreen" type="button" data-target="#authModal" data-toggle="modal" (click)="modalSrv.isLoginModal">เข้าสู่ระบบ</button>
                        <div class="ml-3 logo text-center">
                            <img style="max-width: 70%;" src="assets/images/contact.png" alt="contact">
                        </div>
                    </div>
                </ng-container>
                <ng-template #haveUser>
                    <div class="d-flex justify-content-end align-items-center">
                        <a [routerLink]="[ '/member/info' ]" class="text-white mx-3 d-md-block d-none">{{  user.displayName || user.email  }}</a>
                        <button class="btn btn-lightgreen" type="button" (click)="signOut()">ออกจากระบบ</button>
                        <div class="ml-3 logo text-center">
                            <img style="max-width: 70%;" src="assets/images/contact.png" alt="contact">
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
