/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap')
@import 'assets/sass/_variables.sass'
@import 'assets/sass/_carousel.sass'

body
    overflow-x: hidden

    & > *
        font-family: 'Mitr', sans-serif

.header-iwow-transparent
    background-color: transparentize($iwow-dark-green, .1)
    padding-top: 15px
    padding-bottom: 15px
    border-bottom: none
    position: fixed
    z-index: 9
    width: 100%

.btn
    padding: 15px 30px

    &.btn-lightgreen
        background-color: $iwow-light-green
        color: $iwow-dark-green

        &:not(:disabled):hover
            background-color: darken($iwow-light-green, 10%)

    &.btn-darkgreen
        background-color: $iwow-dark-green
        color: $iwow-white !important

        &:not(:disabled):hover
            background-color: lighten($iwow-dark-green, 10%)

    &.btn-facebook
        background-color: $facebook-blue
        color: $iwow-white !important

        &:not(:disabled):hover
            background-color: lighten($facebook-blue, 10%)

    &:focus
        box-shadow: none

.logo img
    width: auto
    max-width: 60%

    @media screen and ( max-width: 576px )
        max-width: 50%

img.insurance-logo
    width: 100px
    height: 100px
        

.header-section
    height: auto

    .header-title
        margin-top: 80px

    .card
        border: none
        border-radius: 0
        margin-bottom: 0
        color: $iwow-black

        &.hide-background
            background-color: $iwow-dark-green

.bg-darkgreen
    background-color: $iwow-dark-green

.bg-lightgreen
    background-color: $iwow-light-green

.bg-gray
    background-color: $iwow-gray

.text-iwow-darkgreen
    color: $iwow-dark-green

.text-iwow-lightgreen
    color: $iwow-light-green

.text-iwow-pink
    color: $iwow-pink
    
.form-control
    border-radius: 0 !important

    &:focus
        border-color: $iwow-light-green !important
        box-shadow: 0 0 0 0.2rem rgba(177, 241, 56, .25) !important

.iwow-link
    text-decoration: underline !important
    cursor: pointer
    &.light
        color: $iwow-light-green !important
    &.dark
        color: $iwow-dark-green !important

.slider-wrapper
    width: 100%
    height: auto
    overflow-x: hidden
    
.card-slider
    width: 100%
    max-width: fit-content
    height: fit-content
    display: flex
    justify-content: flex-start
    align-items: center
    padding: 1rem 0
    overflow-x: auto


.campaign-slide-section
    max-width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 1rem 0



#{$divider-selector} 
    display: flex
    align-items: center
    padding: 0 $divider-padding
    max-width: $divider-max-width
    margin-left: auto
    margin-right: auto
    margin-top: $divider-padding
    margin-bottom: $divider-padding

    &:before,
    &:after 
        content: ''
        flex: 0 1 100%
        border-bottom: $divider-border-width $divider-border-style $divider-border-color
        margin: 0 $divider-padding
        transform: translateY(#{$divider-border-width} / 2)
    
    &:before 
        margin-left: 0
    
    &:after 
        margin-right: 0
    
    &[text-position="right"]:after,
    &[text-position="left"]:before 
        content: none
        
p
    margin-bottom: 1rem !important

.list-group-item
    text-align: center
    &.active
        color: $iwow-light-green
        background-color: #FFFFFF
        border-color: rgba(0,0,0,.125)
    
.form-control
    height: unset 
    margin-bottom: 0
    &[readonly], &[disabled]
        background-color: #e9ecef !important