
<div class="container">
    <!-- prepare to move to sub component soon -->
    <ul class="my-3 list-group list-group-horizontal">
        <a [routerLink]="[ '/result/lists' ]" routerLinkActive="active" class="list-group-item list-group-item-action">เลือกแบบประกัน</a>
        <a [routerLink]="[ '/result/compare' ]" routerLinkActive="active" class="list-group-item list-group-item-action">เปรียบเทียบประกัน</a>
    </ul>
    <router-outlet></router-outlet>
</div>