<div class="bg-gray w-100">
    <div class="container" style="height: 372px;">
        <div class="row py-5">
            <div class="col-lg-5 col-12 order-md-first order-last text-white">
                <h4 class="text-white">เกี่ยวกับเรา</h4>
                <p class="text-white">
                    “ไอ วาว” คือแพลทฟอร์มอินชัวร์เทคแห่งแรกของประเทศไทยที่เน้นกลุ่มเป้าหมายยังที่คนรักกีฬา ดำเนินธุรกิจภายใต้ บริษัท ไอ เอ็ม จี โบรกเกอร์ จำกัด ก่อตั้งธุรกิจกว่า 10 ปี ถือใบอนุญาตเป็นนายหน้าประกันวินาศภัย ทะเบียนเลขที่ ว00020/2550 ภายใต้การกำกับของ คปภ. อย่างถูกต้อง
                </p>
                <div class="d-flex flex-column justify-content-start align-items-start">
                    <div class="py-2">
                        <img [src]="OIC_LOGO" alt="oic" style="width: 150px;">
                    </div>
                    <div class="py-2">
                        <a href="https://firebasestorage.googleapis.com/v0/b/iwow-460fc.appspot.com/o/oic_cert_28062020.pdf?alt=media" target="_blank" class="text-white">เลขที่ ว00020/2550</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 text-white px-lg-3 py-3 py-lg-0">
                <h4 class="text-white">ติดต่อเรา</h4>
                <p class="text-white">
                    บริษัท ไอ เอ็ม จี โบรกเกอร์ จำกัด, <br>
                    100/59 อาคารว่องวานิช B ชั้น 20 <br>
                    แขวงห้วยขวาง เขตห้วยขวาง <br>
                    กทม. 10310 <br>
                    โทร.02-684-0404 <br>
                    www.iwowthailand.com <br>
                    Email: info@iwowthailand.com  <br>                      
                </p>
            </div>
            <div class="col-lg-4 col-12 order-lg-last order-first text-white">
                <div class="row">
                    <div class="col-12 pb-3 ">
                        <h4 class="text-white">iWOW บนสื่อออนไลน์</h4>
                        <div class="d-flex justify-content-start align-items-center">
                            <a [href]="FACEBOOK_LINK"><img [src]="FACEBOOK_IMG" alt="facebook" class="social-logo" lazyload></a>
                            <a [href]="LINE_LINK"><img [src]="LINE_IMG" alt="line" class="social-logo" lazyload></a>
                        </div>
                    </div>
                    <div class="col-12">
                        <h4 class="text-white">ช่องทางการรับชำระเงิน</h4>
                        <div class="d-flex justify-content-start align-items-center">
                            <img [src]="VISA_IMG" alt="visa" class="payment-logo" lazyload>
                            <img [src]="MASTERCARD_IMG" alt="mastercard" class="payment-logo" lazyload>
                            <img [src]="JCB_IMG" alt="jcb" class="payment-logo" lazyload>
                        </div>
                    </div>
                </div>
                <div class="pt-2 d-flex flex-column justify-content-start align-items-start">
                    <div class="py-2">
                        <a [routerLink]="['/term']" class="text-white">ข้อกำหนดและเงื่อนไข</a>
                    </div>
                    <div class="py-2">
                        <a [routerLink]="['/privacy-policy']" class="text-white">นโยบายความเป็นส่วนตัว</a>
                    </div>
                    <div class="py-2">
                        <a [routerLink]="['/refund-policy']" class="text-white">นโยบายการคืนเงิน</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>