@media screen and (min-width: 768px) 
    .carousel-inner 
        .active,
        .active+.carousel-item 
            display: block

        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item 
            -webkit-transition: none
            transition: none    
        
        .carousel-item-next,
        .carousel-item-prev
            position: relative
            -webkit-transform: translate3d(0, 0, 0)
            transform: translate3d(0, 0, 0)

        .active.carousel-item+.carousel-item+.carousel-item+.carousel-item
            position: absolute
            top: 0
            right: -50%
            z-index: -1
            display: block
            visibility: visible

        /* left or forward direction */
        .active.carousel-item-left+.carousel-item-next.carousel-item-left,
        .carousel-item-next.carousel-item-left+.carousel-item 
            position: relative
            -webkit-transform: translate3d(-100%, 0, 0)
            transform: translate3d(-100%, 0, 0)
            visibility: visible
        /* farthest right hidden item must be abso position for animations */
        .carousel-item-prev.carousel-item-right 
            position: absolute
            top: 0
            left: 0
            z-index: -1
            display: block
            visibility: visible
        
        /* right or prev direction */
        .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
        .carousel-item-prev.carousel-item-right+.carousel-item 
            position: relative
            -webkit-transform: translate3d(100%, 0, 0)
            transform: translate3d(100%, 0, 0)
            visibility: visible
            display: block
            visibility: visible


/* Desktop and up */
@media screen and (min-width: 992px) 
    .carousel-inner 
        .active,
        .active+.carousel-item,
        .active+.carousel-item+.carousel-item 
            display: block
        
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item 
            -webkit-transition: none
            transition: none
  
        .carousel-item-next,
        .carousel-item-prev 
            position: relative
            -webkit-transform: translate3d(0, 0, 0)
            transform: translate3d(0, 0, 0)
  
        .active.carousel-item+.carousel-item+.carousel-item+.carousel-item 
            position: absolute
            top: 0
            right: -33.3333%
            z-index: -1
            display: block
            visibility: visible
        
        /* left or forward direction */
        .active.carousel-item-left+.carousel-item-next.carousel-item-left,
        .carousel-item-next.carousel-item-left+.carousel-item,
        .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
        .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item 
            position: relative
            -webkit-transform: translate3d(-100%, 0, 0)
            transform: translate3d(-100%, 0, 0)
            visibility: visible
        
        /* farthest right hidden item must be abso position for animations */
        .carousel-item-prev.carousel-item-right 
            position: absolute
            top: 0
            left: 0
            z-index: -1
            display: block
            visibility: visible
        
        /* right or prev direction */
        .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
        .carousel-item-prev.carousel-item-right+.carousel-item,
        .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
        .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item 
            position: relative
            -webkit-transform: translate3d(100%, 0, 0)
            transform: translate3d(100%, 0, 0)
            visibility: visible
            display: block
            visibility: visible
        
